*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.背景 {
  background-image: linear-gradient(60deg, #0d0f11 0%, #22272b 100%);
  position: relative;
  margin: 0 auto;
  height: calc(100vh - 50px);
}

.图片区 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.图片区 > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  clip-path: circle(50%);
}

@media screen and (max-height:1200px) {
  .图片区 > img {
    width: 380px;
    height: 380px;
    object-fit: cover;
    clip-path: circle(50%);
  }
}

.名字区 {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.名字区 > p {
  font-size: 3rem;
  color: bisque;
  z-index: 1;
}

.按钮区 {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.按钮区 > button {
  width: 200px;
  height: 50%;
  background-color: blanchedalmond;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  position: relative;
  overflow: hidden;
  color: rgb(48, 58, 58);
  z-index: 1;
}

.按钮区 > button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #ff6b6b, #bb86fc);
  transition: top 0.5s ease;
  z-index: -1;
}

.按钮区 > button:hover::before {
  top: 0;
}

.按钮区 > button:hover{
  color: blanchedalmond;
}