:root {
  --总区上内边距: 125px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: silver;
  font-family: "Google Sans Code", Consolas, "Noto Sans CJK SC", 微软雅黑, sans-serif;
}

.总区 {
  padding-top: var(--总区上内边距);
}

.绘图区 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#画布 {
  width: 100%;
  height: 100%;
}
