:root {
  --光标-默认: url("/Images/Common/鼠标-默认.cur"), auto;
  --光标-手指: url("/Images/Common/鼠标-指向.cur"), pointer;
  --中文字体: "Noto Sans SC", 微软雅黑, sans-serif;
  --代码字体: "JetBrains Mono", Consolas, monospace;
  --中文代码混合字体: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑, monospace, sans-serif;
}

.总区 {
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 10px #111;
}

.标题区 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.大标题 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  font-size: 40px;
  gap: 1ch;
}

.标题英文 {
  font-family: var(--代码字体);
  font-size: 1em;
  color: darkgoldenrod;
}

.标题中文 {
  font-family: var(--中文字体);
  font-weight: normal;
  font-size: 1.25em;
  color: rgb(126, 186, 35);
}

.目录总区 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  --目录背景色: #613c72;
  --未选目录背景色: #0006;
}

.目录区,
.二级目录区 {
  position: sticky;
  top: 50px;
}

.目录区 {
  flex-shrink: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-family: var(--中文代码混合字体);
}

.目录 {
  position: relative;
  padding-right: 25px;
  background-color: #111;
}

.目录::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--目录背景色);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
}

.当前目录::before {
  translate: -50% 0;
  transition: 125ms;
}

.目录:not(.当前目录):hover {
  cursor: var(--光标-手指);
  background-color: #2c343a;
}

.目录.当前目录 {
  background-color: var(--目录背景色);
}

.目录链接 {
  width: fit-content;
  height: 45px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.目录Logo容器 {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 1px #000a);
}

.目录Logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.目录标题 {
  flex-grow: 1;
  font-size: 14px;
  color: rgb(203, 219, 219);
}

.二级目录区 {
  flex-shrink: 0;
  width: 1100px;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
  font-family: var(--中文代码混合字体);
  background-image: linear-gradient(#324251 10%, #24335a 90%);
  padding: 20px;
}

.条目链接 {
  width: calc(20% - 12px);
  perspective: 500px;
}

.条目链接:hover {
  cursor: var(--光标-手指);
}

.条目链接旋转容器 {
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #0003;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.条目链接旋转容器:hover {
  background-color: #fff3;
}

.条目链接旋转容器:hover .链接作者,
.条目链接旋转容器:hover .链接时间 {
  color: #ccc;
}

.链接序号与标题 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.链接作者与时间 {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.链接序号 {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #151515;
  color: silver;
  font-size: 12px;
  text-align: center;
  align-content: center;
  flex-shrink: 0;
}

.链接标题 {
  text-wrap: nowrap;
  flex-shrink: 0;
  font-size: 14px;
  color: rgb(233, 235, 235);
}

.条目链接:hover .链接标题 {
  color: white;
}

.链接作者 {
  color: #b5b5b5;
}

.链接时间 {
  color: #b5b5b5;
}
