body {
  min-height: 100vh;
  font-family: "JetBrains Mono", "Noto Sans SC", Consolas, monospace;
  background: 0 0/100vw 100vh no-repeat fixed url("/Images/Background-Images/交互式学习中心-主页背景.jpg");
}

.总区::-webkit-scrollbar {
  width: 10px;
}

.总区::-webkit-scrollbar:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.总区::-webkit-scrollbar-track {
  background-color: #222;
}

.总区::-webkit-scrollbar-thumb {
  /*background-color: #5193ad;*/
  background-color: lightslategrey;
  border-radius: 999px;
}

.总区::-webkit-scrollbar-thumb:hover {
  background-color: #93a8bd;
}

.总区 {
  /*background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  );*/
  height: 100vh;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 165px;
  gap: 50px;
  scrollbar-gutter: stable;
}

.交互标题 {
  position: fixed;
  width: fit-content;
  top: calc(50px + 1.5%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 2px #000a;
  pointer-events: none;
  z-index: 9998;
}

.和与 {
  font-size: 0.9em;
  color: #aaa;
  margin: 0 2px;
}
