:root {
  --中心标题动画持续时间: 0.4s;
  --四角线框高度: 15px;
  --四角线框宽度: 20px;
  --四角线框间隙: -2px;
  --四角线框厚度: 1px;
  --交互单项宽度: 272px;
  --交互单项高度: 60px;
  --Web前端-水平偏移: 0px;
  --Web前端-垂直偏移: 0px;
  --数据结构与算法-水平偏移: 0px;
  --数据结构与算法-垂直偏移: 0px;
  --Canvas-水平偏移: 0px;
  --Canvas-垂直偏移: 0px;
}

body {
  min-height: 100vh;
}

.交互式概念中心 {
  /*background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  );*/

  background: center/cover no-repeat fixed url("/Images/Background-Images/交互式学习中心-主页背景.jpg");
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 75px 0;
}

.中心标题 {
  margin: 0 auto;
  width: fit-content;
  font-size: 4rem;
  padding: 20px 0;
  letter-spacing: 10px;
}

.中心标题 > span {
  transform-style: preserve-3d;
  perspective: 800px;
  display: inline-block;
}

.中心标题 > span:nth-child(even) {
  transform: rotateX(90deg);
  animation: 中心标题动画-X var(--中心标题动画持续时间) ease-in forwards;
}

.中心标题 > span:nth-child(odd) {
  transform: rotateY(90deg);
  animation: 中心标题动画-Y var(--中心标题动画持续时间) ease-in forwards;
}

.中心标题 > span:nth-child(2) {
  animation-delay: var(--中心标题动画持续时间);
}

.中心标题 > span:nth-child(3) {
  animation-delay: calc(var(--中心标题动画持续时间) * 2);
}

.中心标题 > span:nth-child(4) {
  animation-delay: calc(var(--中心标题动画持续时间) * 3);
}

.中心标题 > span:nth-child(5) {
  animation-delay: calc(var(--中心标题动画持续时间) * 4);
}

.中心标题 > span:nth-child(6) {
  animation-delay: calc(var(--中心标题动画持续时间) * 5);
}

.中心标题 > span:nth-child(7) {
  animation-delay: calc(var(--中心标题动画持续时间) * 6);
}

@keyframes 中心标题动画-X {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes 中心标题动画-Y {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

.交互技术栈 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  height: 100%;
}

.交互页 {
  width: 1500px;
  height: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.交互页 > h1 {
  padding: 0 10px;
  color: darkgoldenrod;
}

.分割线 {
  background-color: #fff3;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

.交互列表 {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  place-content: center;
  /*gap: 20px;*/
  position: relative;
}

.四角线框 {
  position: absolute;
  width: calc(var(--交互单项宽度) + var(--四角线框间隙) * 2);
  height: calc(var(--交互单项高度) + var(--四角线框间隙) * 2);
  border: solid var(--四角线框厚度) lightcyan;
  pointer-events: none;
  mask: conic-gradient(at var(--四角线框宽度) var(--四角线框高度), transparent 75%, white 75%) 0 0 /
    calc(100% - var(--四角线框宽度)) calc(100% - var(--四角线框高度)) repeat;
  transition: top 250ms, left 250ms, opacity 250ms, scale 250ms;
  opacity: 0;
  scale: 0;
}

.交互列表:has(.交互单项:hover) .四角线框 {
  opacity: 1;
  scale: 1;
}

.Web前端交互列表 .四角线框 {
  left: calc(var(--Web前端-水平偏移) - var(--四角线框间隙));
  top: calc(var(--Web前端-垂直偏移) - var(--四角线框间隙));
}

.数据结构与算法交互列表 .四角线框 {
  left: calc(var(--数据结构与算法-水平偏移) - var(--四角线框间隙));
  top: calc(var(--数据结构与算法-垂直偏移) - var(--四角线框间隙));
}

.Canvas交互列表 .四角线框 {
  left: calc(var(--Canvas-水平偏移) - var(--四角线框间隙));
  top: calc(var(--Canvas-垂直偏移) - var(--四角线框间隙));
}

.交互单项 {
  position: relative;
  height: 80px;
  /*border-radius: 100px;*/
  list-style-type: none;
  filter: drop-shadow(2px 2px 2px #000a);
  padding: 10px;
  /*overflow: hidden;*/
}

.交互单项链接 {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #687175 0%, #8f979f 74%);
  border-radius: 100px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.交互单项链接:hover {
  /*background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #242830 74%);*/
  box-shadow: inset 0 1px 0 gray;
  cursor: url(/Images/Common/鼠标-指向.cur), pointer;
}

.序号 {
  color: #345;
  font-weight: bolder;
  aspect-ratio: 1;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Google Sans Code", monospace;
  font-size: 1rem;
  text-wrap: nowrap;
}

.链接-图 {
  height: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.链接-图 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(1px 1px 1px #000a);
}

.链接-字 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: black;
}

.和与 {
  font-size: 0.9em;
  color: #444;
}

.链接-字-英文 {
  font-size: 0.75rem;
  color: rgb(41, 41, 41);
  font-family: "Jetbrains Mono", sans-serif;
  font-weight: normal;
}

/*.交互单项:hover .序号,
.交互单项:hover .链接-字 {
  color: rgb(210, 210, 210);
}

.交互单项:hover .链接-字-英文 {
  color: rgb(170, 170, 170);
}*/

.交互单项:has(.未完成)::after {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-shadow: 2px 2px 2px black;
  content: "开发中";
  visibility: hidden;
  transform: scale(0.75);
  opacity: 0;
  transition: 0.25s;
  pointer-events: none;
}

.交互单项:has(.未完成):hover::after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  backdrop-filter: blur(2px);
}

.未完成 {
  filter: brightness(40%);
}

/*:where(.字体, .长度, .宽度与高度, .盒子阴影, .队列, .链表, .二叉树):hover img {
  filter: invert(80%);
}*/

.交互子项 {
  height: 100%;
  border-radius: 999px;
  /*background-image: linear-gradient(315deg, #687175 0%, #8f979f 74%);*/
  position: relative;
  overflow: hidden;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #242830 74%);
  box-shadow: inset 0 1px 0 gray;
  cursor: url(/Images/Common/鼠标-指向.cur), pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  translate: 0 -100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  rotate: x -180deg;
  transition: rotate 500ms;
}

.交互子项链接 {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.交互子项链接:link,
.交互子项链接:visited {
  color: white;
}

.交互子项链接:hover {
  background-color: #cdea;
  color: #012;
}

.弹性布局子项链接:nth-child(2) {
  border-left: solid 1px #fff5;
  border-right: solid 1px #fff5;
}

.弹性布局子项链接:nth-child(2):hover {
  border-color: transparent;
}

.弹性布局子项:has(.弹性布局-综合链接:hover) .弹性布局-弹性方向链接 {
  border-left: solid 1px transparent;
}

.弹性布局子项:has(.弹性布局-交叉轴对齐链接:hover) .弹性布局-弹性方向链接 {
  border-right: solid 1px transparent;
}

.弹性布局 {
  perspective: 400px;
}

.弹性布局链接 {
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  transition: rotate 500ms;
}

.弹性布局:hover .弹性布局链接 {
  rotate: x 180deg;
}

.弹性布局:hover .交互子项 {
  rotate: x 0deg;
}

@media screen and (width < 1450px) {
  .交互技术栈 {
    width: 100%;
  }

  .交互页 {
    width: 97.5%;
  }

  .交互列表 {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    /*gap: 20px;*/
  }

  .交互单项链接 {
    justify-content: flex-start;
    padding-left: 4%;
  }

  .序号 {
    width: 25px;
    aspect-ratio: unset;
  }
}

@media screen and (width < 600px) {
  .中心标题 {
    letter-spacing: 2.5px;
    font-size: 2.5rem;
  }
}
