:root {
  --边框尺寸: 50px;
  --内边距尺寸: 50px;
  --外边距尺寸: 50px;
  /*--内容尺寸: 300px;
  --内容盒子宽度: 300px;
  --内容盒子高度: 300px;*/
  --盒子宽度: 300px;
  --盒子高度: 300px;
  --宽度修剪比例: 25%;
  --高度修剪比例: 25%;
  --内容修剪比例: 25%;
  --内边距修剪比例: 50%;
  --边框修剪比例: 50%;
  --外边距修剪比例: 50%;
  --拇指尺寸: 24px;
  --滑块前缀文本宽度: 64px;
  --滑块区鼠标悬停背景色: #fff2;
}

body {
  font-family: "JetBrains Mono", "Noto Sans SC", Consolas, monospace;
}

.总区 span[class$="中文"] {
  color: lightskyblue;
}

.总区 span[class$="代码"] {
  color: lightcyan;
  font-size: 0.95em;
}

.总区 span[class$="文本"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.盒子模型总区 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.展示区 {
  width: 1000px;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.外边距盒子 {
  background-color: #b08354;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.边框盒子 {
  width: var(--盒子宽度);
  height: var(--盒子高度);
  border: solid var(--边框尺寸) #e4c482;
  padding: var(--内边距尺寸);
  box-sizing: content-box;
  background-color: #788053;
  margin: var(--外边距尺寸);
}

.内容盒子 {
  width: 100%;
  height: 100%;
  background-color: lightsteelblue;
}

.操作区 {
  min-width: 450px;
}

.盒子模型区 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 15px 20px;
  border: solid 1px #789;
}

.盒子模型标题 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.总区 :where(.盒子模型标题, .盒子尺寸标题) > span[class$="中文"] {
  color: lightseagreen;
}

.盒子模型标题 > span[class$="代码"] {
  color: lightgreen;
}

.单选区 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.标签容器 {
  height: 55px;
  border-radius: 8px;
}

.标签容器:hover {
  background-color: var(--滑块区鼠标悬停背景色);
  cursor: url("/Images/Common/鼠标-默认.cur"), auto;
}

label .标签文本 {
  pointer-events: none;
}

label:has(input[type="radio"]) {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
}

label:has(input[type="radio"]):hover,
label > input[type="radio"]:hover,
input[type="range"]:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

label:has(input[type="radio"]:checked) {
  background-color: #bcd;
  box-shadow: 1px 1px 2px 0 #000a;
}

label:has(input[type="radio"]:not(:checked)):hover {
  background-color: #202a32;
}

label:has(input[type="radio"]:checked) .标签文本 {
  filter: invert(100%);
}

label > input[type="radio"] {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.盒子宽高区 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding: 15px 20px;
  border: solid 1px #789;
}

.滑块区 {
  display: flex;
  flex-direction: column;
  /*gap: 15px;*/
  width: 100%;
}

.滑块区 > label:has(input[type="range"]) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.滑块区 .标签文本 {
  width: var(--滑块前缀文本宽度);
}

input[type="range"] {
  width: 50%;
  height: 8px;
}

input[type="range"] {
  position: relative;
  appearance: none;
  border-radius: 999px;
  background-color: #777;
}

input[type="range"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, lightgreen 0%, gold 100%);
  content: "";
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: var(--拇指尺寸);
  height: var(--拇指尺寸);
  border-radius: 999px;
  background-color: lightcyan;
  box-shadow: 2px 2px 2px 0 #0007;
  position: relative;
}

.关联区 {
  position: absolute;
  width: 20px;
  height: 60%;
  top: 50%;
  left: 10px;
  translate: 0 -50%;
}

.关联区::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  border-top: solid 1px white;
  border-left: solid 1px white;
}

.关联区::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
}

.关联区 > .关联标签,
.关联区 > .关联复选框 {
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 0;
  translate: -50% -50%;
}

.关联标签 {
  width: calc(100% + 5px);
  height: calc(40% + 5px);
  border-radius: 2px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.关联标签:hover {
  cursor: url("/Images/Common/鼠标-默认.cur"), auto;
}

.关联区:has(.关联复选框:checked) .关联标签 > img {
  height: 80%;
}

.关联标签 > img {
  width: 100%;
  height: 60%;
  object-fit: contain;
  filter: invert(100%) brightness(150%);
}

.关联区 > .关联复选框 {
  height: 40%;
  appearance: none;
  width: 100%;
}

.关联区 > .关联复选框:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.关联区:has(.关联复选框:hover) .关联标签 {
  background-color: #1d232a;
}

.模型设置区 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding: 15px 20px;
  border: solid 1px #789;
}

#宽度::before {
  clip-path: inset(0 var(--宽度修剪比例) 0 0);
}

#高度::before {
  clip-path: inset(0 var(--高度修剪比例) 0 0);
}

#内容::before {
  clip-path: inset(0 var(--内容修剪比例) 0 0);
}

#内边距::before {
  clip-path: inset(0 var(--内边距修剪比例) 0 0);
}

#边框::before {
  clip-path: inset(0 var(--边框修剪比例) 0 0);
}

#外边距::before {
  clip-path: inset(0 var(--外边距修剪比例) 0 0);
}

.模型设置分区 {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 55px;
  border-radius: 8px;
}

.模型设置分区:hover {
  background-color: var(--滑块区鼠标悬停背景色);
}

.标签 {
  width: var(--滑块前缀文本宽度);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.滑块值 {
  width: 52px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.数字,
.滑块数字 {
  color: lightskyblue;
}
