*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/背景图片.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.time {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: linear-gradient(45deg, #4b3d6f, #a45d8d);
  background-clip: text;
  color: transparent;
  /* border: solid red; */
}

.rule {
  /* border: solid red; */
  display: flex;
  justify-content: end;
}

.rule > img {
  margin-right: 40px;
  width: 80px;
  height: 80px;
  transition: 0.3s ease;
  opacity: 0.8;
}

.rule > img:hover {
  transform: scale(1.4);
}

.main {
  margin-top: 40px;
  display: flex;
  width: 100vw;
  height: fit-content;
  /* border: solid red; */
  flex-wrap: wrap;
}

.姓名区 {
  /* border: solid red; */
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.姓名 {
  background-color: rgba(136, 103, 151, 0.8);
  font-size: 20px;
  color: #f8d3e0;
  width: 120px;
  height: 55px;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0 0 20px rgba(164, 79, 243, 0.7), 0 0 30px rgba(110, 28, 158, 0.5);
  transition: box-shadow 0.3s ease;
  transition: 0.3s ease;
}

.姓名:hover {
  transform: scale(1.4);
}

.肖像区 {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: fit-content;
}

.肖像{
  background-image: url(./img/背景图片.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:  220px;
  height: 420px;
  border-radius: 20px;
  /* border: solid red; */
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(164, 79, 243, 0.3), 0 0 30px rgba(110, 28, 158, 0.2);
  transition: box-shadow 0.3s ease;
  transition: 0.3s ease;
}

.肖像:hover {
  transform: scale(1.1);
}

