:root {
  --侧边栏宽度: 300px;
  --侧边栏颜色-鼠标悬停: rgb(54, 62, 78);
  --侧边栏颜色-已选中: rgb(122, 67, 107);
  --侧边栏背景: linear-gradient(60deg, #1f242b 0%, #252c32 100%);
  --专题内容区背景: linear-gradient(90deg, #181c20 0%, #262d35 100%);
  --超链接颜色-正文: skyblue;
}

body {
  width: 100dvw;
}

.专题简介 a:not([邮箱]),
.专题正文区 a:not([邮箱]) {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 3px;
}

.专题简介 a:hover,
.专题正文区 a:hover {
  color: skyblue;
}

.技术栈选择器 {
  position: fixed;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background:
    no-repeat center/contain url("./选择器修饰.png"),
    radial-gradient(circle at center, #80d0c744 0%, #13547a11 50%);
  bottom: 40px;
  right: 50px;
  pointer-events: all;
  animation: 旋转技术栈选择器 5s linear infinite;
  transition: 0.25s;
}

.技术栈选择器:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  animation-play-state: paused !important;
}

@keyframes 旋转技术栈选择器 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.技术栈对话框 {
  position: fixed;
  width: max(750px, 60%);
  height: max(850px, 75%);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  background-color: #fff1;
  box-shadow: 10px 10px 30px 0 #000a;
  backdrop-filter: blur(20px);
  border: none;
  outline: solid 2px #fff4;
  overflow: hidden;
}

.技术栈对话框::backdrop {
  backdrop-filter: brightness(35%);
}

.关闭技术栈对话框 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 50px;
}

.关闭技术栈对话框:hover {
  background-color: #920808;
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.关闭技术栈对话框 > span {
  color: #bbb;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 100ms;
}

.关闭技术栈对话框 > span > i {
  font-size: 16px;
}

.关闭技术栈对话框:hover span {
  color: white;
}

.技术栈内容 {
  color: white;
  width: 100%;
  height: calc(100% - 75px);
  position: absolute;
  bottom: 0;
  padding: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  grid-auto-rows: 105px;
  gap: 10px;
  place-content: start space-evenly;
  pointer-events: all;
  transition: 0.25s;
}

.技术栈 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

.经验之谈 {
  grid-column: 1 / -1;
}

.经验之谈 > p {
  height: fit-content !important;
}

.技术栈[未完成] {
  pointer-events: none;
  filter: brightness(50%);
}

.技术栈:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  background: linear-gradient(-45deg, #8d5240, #962c54, #1f718f, #11614f);
  background-size: 400% 400%;
  animation: 技术栈背景动画 5s ease infinite;
  box-shadow: 1px 1px 4px 0 #0005;
}

@keyframes 技术栈背景动画 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.技术栈 > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.技术栈 > p {
  height: 36px;
  font-size: 0.8rem;
  padding-top: 2px;
}

.侧边栏收缩容器 {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 35px;
  /* background-color: red; */
  top: 55px;
  left: 5px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.侧边栏收缩容器:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.侧边栏 {
  width: var(--侧边栏宽度);
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  /* background: #0a0a0a; */
  background-image: var(--侧边栏背景);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  padding-top: 150px;
}

.专题名称 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  font-size: 1.125rem;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.专题名称 > img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.专题列表 {
  width: 100%;
  height: fit-content;
  overflow-y: auto;
}

.专题 {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.专题:hover {
  background: var(--侧边栏颜色-鼠标悬停) !important;
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.专题-标记 {
  flex-shrink: 0;
  width: 15px;
  height: 100%;
  text-align: center;
}

.专题[原创] .专题-标记 {
  color: seagreen;
}

.专题[转载] .专题-标记 {
  color: tomato;
}

.专题-内容 {
  height: 30px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

span[侧边栏专题符号] {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: yellowgreen;
  background-color: rgb(60, 60, 60);
  box-shadow: 1px 1px 3px 0 #000a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0 5px;
}

.专题内容区 {
  width: 100%;
  min-height: calc(100vh - 50px);
  /* background-color: rgb(21, 21, 21); */
  background-image: var(--专题内容区背景);
  padding: 50px 50px 50px calc(var(--侧边栏宽度) + 50px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

/*------------------------------------ ↓ 内容区顶栏 ------------------------------------*/
.专题简介 {
  position: relative;
  width: min(90%, 850px);
  height: fit-content;
  border-bottom: solid 1px #aaaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 25px 0;
  overflow: hidden;
}

.简介标题 {
  font-size: 3rem;
  letter-spacing: 0.25rem;
}

.原创,
.转载 {
  margin-left: 2ch;
  font-size: 1.25rem;
  letter-spacing: normal;
}

.原创 {
  color: seagreen;
  margin-left: 1rem;
}

.转载 {
  color: coral;
}

.简介信息 {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.简介信息文本 {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.作者,
.日期,
.原文,
.译者 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.前缀 {
  width: 50px;
  text-align: right;
  font-size: 1rem;
  color: #aaa;
}

.作者姓名,
.日期文本,
.原文链接,
.译者姓名 {
  font-size: 0.9rem;
  background-color: #c9d6ff;
  color: black;
  max-width: 300px;
  padding: 1px 5px;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.原文链接 {
  display: inline-flex;
  align-items: center;
}

.原文链接 > a {
  color: #094f2a;
  text-decoration: none !important;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 150ms;
}

.原文链接 > a:hover {
  color: #962c54;
}

.简介信息图像 {
  width: 125px;
  aspect-ratio: 1;
}

.简介信息图像 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.联系方式列表 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px 35px;
  flex-wrap: wrap;
}

.联系方式项 {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.联系方式项 > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.专题简介 .fa-solid,
.专题简介 .fa-brands {
  font-size: 1.5rem;
  /*color: darkseagreen;*/
}

/*------------------------------------ ↑ 内容区顶栏 ------------------------------------*/

a[邮箱] {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  font-size: 0.95rem;
  padding-bottom: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

a[邮箱="原创"] .fa-solid {
  color: white;
}

a[邮箱="转载"] .fa-solid {
  color: black;
}

a[邮箱="原创"]:hover {
  filter: brightness(150%);
}

a[邮箱]:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.超链接 {
  color: yellowgreen !important;
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

.超链接:visited {
  color: yellowgreen;
}

.超链接:hover {
  color: rgb(173, 104, 238) !important;
}

/*------------------------------------ ↓ 专题正文区 ------------------------------------*/
.专题正文区 {
  width: min(97.5%, 850px);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  /*overflow-x: hidden;*/
}

.正文分区 {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ddd;
}

.分区标题 {
  position: relative;
  color: white;
  border-radius: 5px;
  width: fit-content;
}

.分区2级标题 {
  background: linear-gradient(50deg, #2c3e50, #4b5157);
  padding: 8px 10px;
  margin: 100px 0 0 0;
  font-size: 2rem;
}

.分区2级标题::before {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 150% -50%;
  font-family: "Font Awesome 6 Free";
  content: "\f1dc";
  font-weight: 900;
  color: lightskyblue;
}

.分区3级标题 {
  margin-top: 50px;
  font-size: 1.5rem;
}

.分区3级标题::before {
  position: absolute;
  content: "\f1ea";
  top: 50%;
  right: 0;
  translate: 150% -50%;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: orange;
}

.分区3级标题 i {
  margin-left: 5px;
  color: orange;
}

.分区列表 {
  margin: 5px 0;
}

.分区列表项 {
  list-style-type: square;
  padding: 5px 0;
  color: #b4c5d7;
}

.分区列表项::marker {
  color: darkgoldenrod;
}

.圆圈序号 {
  margin-right: 5px;
}

.截图容器 {
  width: fit-content;
  max-width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff1;
  border-radius: 0 0 10px 10px;
}

.截图容器 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.截图序号 {
  color: #999;
  font-size: 15px;
  padding: 10px 0;
}

.行内截图序号 {
  color: lightskyblue;
}

.专业名词 {
  background-color: rgb(153, 168, 183);
  color: black;
  border-radius: 3px;
  padding: 1px 5px;
  margin: 0 2px;
}

.行内专业名词 {
  color: #67cdcc;
  margin: 0 0.5ch;
}

.分区3级标题 > .行内专业名词:first-child {
  margin: 0 0.5ch 0 0;
}

.代码 {
  font-family: "JetBrains Mono";
  background-color: #8b939a;
  color: black;
  padding: 1px 5px;
  margin: 0 2px;
  border-radius: 3px;
}

.附加说明 {
  font-size: 14px;
  background-color: rgb(53, 89, 157);
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 5px;
}

.分区普通文本 {
  line-height: 1.75rem;
  padding: 10px 0;
  color: #b4c5d7;
}

.提醒 {
  background-color: #2b4162;
  border-radius: 10px;
  padding: 20px 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.提醒标题 {
  color: lightseagreen;
  text-align: center;
}

.提醒 > p {
  line-height: 1.75rem;
}

.提醒标题 > i {
  color: yellow;
  margin-right: 15px;
}

.强调 {
  font-weight: bolder;
  color: #e85656;
}

/*------------------------------------------------*/

/*------------------------------ ↓ 单独表格样式 ------------------------------*/
#终端表 {
  border-collapse: collapse;
  margin-top: 50px;
  outline: solid 2px lightslategray;
}

#终端表 caption {
  padding: 20px 0;
  background-color: lightslategray;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

#终端-表头区 > tr {
  height: 60px;
  font-size: 1.25rem;
}

#终端表 th,
#终端表 td {
  border: solid 1px gray;
}

#终端表 td {
  text-align: center;
  padding: 20px 0;
}

#终端-表头区 {
  background-color: #8b939a20;
}

#终端-表头区 > tr > th {
  color: greenyellow;
}

#终端-表身区 > tr > th {
  color: sandybrown;
  padding: 0 10px;
}

.终端-默认 {
  font-size: 1.5rem;
}
/*------------------------------ ↑ 单独表格样式 ------------------------------*/

.专题正文区 ul,
.专题正文区 li {
  text-align: justify;
}

.符号-h2 {
  height: 25px;
  width: 25px;
  object-fit: contain;
  object-position: center;
  filter: drop-shadow(1px 1px 2px #000a);
}

.标题-h2 {
  height: 70px;
  padding: 0 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #2e4754,
    #284252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  box-shadow: 1px 1px 5px 0 #000a;
  letter-spacing: 2px;
}

.正文列表 {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.正文列表-1级 {
  gap: 20px;
  padding: 30px 0;
}

.正文列表项 {
  width: 100%;
}

.正文列表项-1级::marker {
  color: goldenrod;
}

.正文列表项-2级::marker {
  color: rgb(218, 113, 32);
}

.正文列表项-3级::marker {
  color: rgb(255, 97, 97);
}

.正文列表项-1级 {
  list-style-type: disc;
}

.正文列表项-1级 > p[列表1级标题] {
  background: linear-gradient(50deg, #2c3e50, #4b5157);
  color: white;
  padding: 7.5px 10px;
  border-radius: 5px;
  width: fit-content;
  font-size: 1.125rem;
}

.正文列表项-1级 > p[列表1级标题] ~ p[列表1级内容] {
  margin-top: 10px;
}

.正文列表-2级 {
  gap: 10px;
  padding-left: 2em;
}

.正文列表项-2级 {
  font-size: 1rem;
  list-style-type: square;
  color: rgb(220, 220, 220);
}

.正文列表-3级 {
  gap: 7.5px;
  padding-left: 2em;
}

.正文列表项-3级 {
  font-size: 0.925rem;
  list-style-type: circle;
  color: rgb(190, 190, 190);
}

p[间隔方向="上"] {
  margin: 10px 0 0 0;
}

p[间隔方向="下"] {
  margin: 0 0 10px 0;
}

p[间隔方向="上下"] {
  margin: 10px 0;
}

.正文-表格 {
  padding: 15px 0;
}

.Web前端首页表格 {
  width: 400px;
}

.Web前端首页表格-列格式 > col:nth-child(1) {
  width: 45%;
}

.Web前端首页表格-列格式 > col:nth-child(2) {
  width: 55%;
}

.正文-表格 > thead > tr {
  width: 150px;
  background-color: rgb(191, 206, 216) !important;
  color: rgb(37, 55, 109);
}

.正文-表格 > thead {
  text-align: center;
  height: 40px;
}

.正文-表格 td {
  font-size: 0.9rem;
}

.正文-表格 > tbody > tr {
  height: 30px;
}

.正文-表格 > tbody td {
  text-align: center;
}

.正文-表格 tr:nth-child(even) {
  background-color: #499984;
  color: black;
}

.正文-表格 tr:nth-child(odd) {
  background-color: #2c5364;
}

.td-上下 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.td-上下-上 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span[含义="举例标题"] {
  background-color: rgb(153, 168, 183);
  color: black;
  border-radius: 3px;
  padding: 1px 5px;
  display: inline-flex;
  align-items: center;
}

span[含义="语言"] {
  display: inline-block;
  background-color: #3a434b !important;
  color: white;
  padding: 3px 7.5px;
  border-radius: 5px;
  font-size: 1em;
  font-family: "JetBrains Mono", Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

span[含义="特别提醒"] {
  /* background-color: #181c2077; */
  color: yellow;
  font-size: 1em;
}

span[含义="圆括号"] {
  color: tomato;
}

span[含义="行内名词"] {
  background-color: rgb(73, 76, 80);
  color: white;
  border-radius: 3px;
  padding: 1px 5px;
  margin: 0 5px;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
}

span[含义="序号"] {
  font-size: 0.9em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.65em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(158, 178, 199);
  color: black;
}

p[列表1级标题] > span[含义="行内名词"] {
  background-color: rgb(176, 230, 212);
  color: black;
}

span[含义="圆括号内容"] {
  background-color: rgb(53, 89, 157);
  border-radius: 3px;
  color: white;
  padding: 1px 5px;
  margin: 0 5px;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
}

.正文列表项-1级 > p:nth-child(1) > span[含义="圆括号内容"] {
  background: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  text-decoration-color: rgb(89, 230, 176);
  color: white;
  padding: 0 2.5px;
  margin: 0 0;
  font-size: 1em;
}

span[含义="注释"] {
  padding: 1px 5px;
  margin: 0 5px;
  border-radius: 3px;
  outline: solid 1.25px rgb(74, 193, 128);
  font-size: 0.6rem;
  color: rgb(225, 225, 225);
}

span[含义] > span[含义="注释"] {
  margin: 0 0 0 5px;
}

span[含义="举例标题"] > span[含义="注释"] {
  padding: 1px 5px;
  color: white;
  outline: none;
  background-color: rgb(56, 56, 56);
}

span[含义="名词内间隔"] {
  display: inline-block;
  width: 4px;
}

img[图含义="永恒代码统计"] {
  width: 500px;
  padding: 10px 0;
  object-fit: contain;
}

img[图含义] {
  margin: 15px 0;
  max-width: 100%;
}

#永恒代码统计图表 + p,
#永恒代码统计图表 + p + .正文列表-3级 {
  display: none;
}

/* ------------------------------ ↓ 响应式设计 ------------------------------ */
@media screen and (width < 1300px) {
  .专题正文区 {
    padding: 25px 0;
  }
}

@media screen and (width < 1200px) {
  .专题简介 {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }

  #永恒代码统计图表 {
    display: none;
  }

  #永恒代码统计图表 + p {
    display: block;
    margin: 10px 0 0 0;
  }

  #永恒代码统计图表 + p + .正文列表-3级 {
    display: flex;
  }
}

@media screen and (width < 950px) {
  .Web前端首页表格 {
    width: auto;
    max-width: 400px;
  }

  img[图含义="永恒代码统计"] {
    width: 100%;
  }
}

@media screen and (width < 800px) {
  .专题简介 {
    width: 95dvw;
    min-width: auto;
    padding: 25px 0;
  }

  p[简介标题] {
    font-size: 1.5rem;
  }

  .专题正文区 {
    width: 100%;
  }

  .侧边栏收缩容器 {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  .侧边栏 {
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: 1;
  }

  .专题内容区 {
    padding: 50px 25px 25px;
  }

  .技术栈对话框 {
    width: 97.5% !important;
    height: 90%;
    margin: 0 auto;
  }

  .技术栈选择器 {
    right: 2%;
    bottom: 2%;
  }

  .技术栈内容 {
    gap: 15px 5px;
    width: 95%;
    position: absolute;
    right: 2.5%;
    bottom: 1%;
  }
}

@media screen and (width < 550px) {
  .简介标题 {
    display: flex;
    flex-direction: column;
  }

  .原创,
  .转载 {
    margin-left: 0;
    text-align: center;
  }

  .简介信息 {
    width: 90dvw;
    flex-direction: column;
    align-items: center;
  }

  .简介信息文本 {
    width: 100%;
  }

  .原文链接 {
    max-width: calc(90dvw - 50px);
  }

  .联系方式列表 {
    width: 75dvw;
  }

  p[简介标题] {
    font-size: 1.25rem;
  }

  .技术栈选择器 {
    width: 50px;
    height: 50px;
  }

  .标题-h2 {
    font-size: 1.25rem;
  }

  .正文列表-2级 {
    padding-left: 0.75em;
  }

  .正文列表-3级 {
    padding-left: 1.5em;
  }

  .span[含义] {
    font-size: 0.85em;
  }
}

/* ------------------------------ ↑ 响应式设计 ------------------------------ */
