.返回 {
  position: fixed;
  z-index: 100;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  background-image: linear-gradient(to bottom, rgba(178, 82, 216, 0.5) 0%, rgba(196, 67, 146, 0.5) 100%),
    radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.25) 50%);
  background-blend-mode: soft-light, screen;
  box-shadow: 4px 4px 6px 0 #0004;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  font-size: 2rem;
  transition: 125ms;
}

.返回:hover {
  filter: brightness(150%);
}
