body {
  background-color: #151819;
}

.app-banner {
  position: relative;
  height: 550px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  border-bottom: solid 1px #fff3;
}

.app-banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 175px;
  background-color: slateblue;
  left: 0;
  top: 22.5%;
  z-index: -1;
}

.顶栏图片 {
  height: 100%;
  aspect-ratio: 1;
}

.顶栏图片 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.顶栏文字 {
  position: relative;
  width: 1000px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.顶栏标题 {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.创意 {
  font-size: 9rem;
  color: goldenrod;
}

.app-center {
  margin: 0 auto;
  min-height: calc(100vh - 550px);
  width: clamp(1000px, 90%, 1800px);
  padding: 100px 5vw 300px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.app {
  position: relative;
  width: max(18%, 250px);
  aspect-ratio: 0.8;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  box-shadow: 2px 2px 2px 0 #111;
  padding: 25px;
  border: solid 1px #ffffff32;
  transition: 150ms;
}

.app:hover {
  border: solid 1px #abc;
  /* background-color: #1a2026; */
  background-color: #abc;
}

.app:hover .app-名称 {
  color: rgb(53, 61, 69);
}

.app.开发中:hover {
  background-color: transparent;
}

.app.开发中 * {
  filter: brightness(25%);
}

.app.开发中::before {
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  outline: solid 2px #555;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "开发中";
  text-align: center;
  align-content: center;
  color: white;
  background-color: #000;
  font-size: 20px;
  opacity: 1;
  z-index: 1;
}

.图片区 {
  flex-shrink: 0;
  height: 50%;
  width: 90%;
  overflow: hidden;
  filter: drop-shadow(2px 2px 2px #000a);
  user-select: none;
}

.图片区 > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 250ms;
}

.app-名称 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: fit-content;
  border-radius: 8px;
  color: #9ab;
  font-weight: bold;
  text-wrap: nowrap;
  user-select: none;
}

.app-access {
  position: relative;
  height: 50px;
  width: 95%;
  background-color: #3455;
  display: flex;
  align-content: center;
  border-radius: 5px;
  overflow: hidden;
  transition: 125ms;
  user-select: none;
}

.app:hover .app-access {
  background-color: #345d;
}

.app-access:hover {
  background-color: #345;
}

.app-链接 {
  position: relative;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.app-链接:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.app-链接 .fa-solid {
  transition: 250ms;
  color: #aaa;
}

.app-链接:hover .fa-solid {
  scale: 120%;
  color: white;
}

.app-链接:active {
  background-color: #567;
}

.app-作者 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  padding: 4px;
}

.app-作者 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-作者:hover > img {
  filter: brightness(112.5%) saturate(125%);
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1400px) {
  .app-center {
    padding: 100px 2.5% 300px;
  }

  .app-banner::before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #0007;
    backdrop-filter: blur(10px);
  }

  .顶栏图片 {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .顶栏文字 {
    z-index: 2;
    align-items: center;
  }

  .顶栏标题 {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .app-center {
    /* flex-direction: column; */
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .app-banner {
    height: 650px;
    overflow: hidden;
  }

  .顶栏标题 {
    font-size: 4rem;
  }

  .顶栏文字 {
    width: 90%;
    height: 95%;
  }
}

@media screen and (max-width: 550px) {
  .顶栏标题 {
    font-size: 2.5rem;
  }
}

/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
