:root {
  --侧边栏宽度: 300px;
  --侧边栏颜色-鼠标悬停: rgb(54, 62, 78);
  --侧边栏颜色-已选中: rgb(122, 67, 107);
  --侧边栏背景: linear-gradient(60deg, #1f242b 0%, #252c32 100%);
  --专题内容区背景: linear-gradient(60deg, #181c20 0%, #262d35 100%);
  --超链接颜色-正文: skyblue;
}

body {
  width: 100dvw;
}

/* code[class*="language-"] {
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: consolas !important;
  outline: solid 1.5px gray;
  background-color: #fff2;
  color: white;
  padding: 5px 10px;
  margin: 15px 0;
  border-radius: 3px;
}

.代码-标签括号 {
  font-family: consolas !important;
  color: rgb(248, 132, 244);
}

.代码-标签属性 {
  font-family: consolas !important;
  color: lightgreen;
}

.代码-样式属性 {
  font-family: consolas !important;
  color: rgb(247, 149, 131);
} */

.技术栈选择栏 {
  position: fixed;
  z-index: 1;
  width: 600px;
  height: 900px;
  bottom: 25px;
  right: 25px;
  border-radius: 10px;
  pointer-events: none;
}

.技术栈选择器 {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background: no-repeat center/contain url("./选择器修饰.png"),
    radial-gradient(circle at center, #80d0c744 0%, #13547a11 50%);
  bottom: 0;
  right: 0;
  pointer-events: all;
  animation: 旋转技术栈选择器 5s linear infinite;
  transition: 0.25s;
}

.技术栈选择器:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  animation-play-state: paused !important;
}

@keyframes 旋转技术栈选择器 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.技术栈内容 {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10.5%, 14.5%));
  grid-auto-rows: 105px;
  gap: 10px;
  place-content: start space-evenly;
  /* background: #000a; */
  background: linear-gradient(
    to right,
    #29323caa,
    #485563aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
  opacity: 0;
  transform-origin: 100% 100%;
  transform: scale(0);
  box-shadow: -2px 2px 12px 0 #000a;
  pointer-events: all;
  transition: 0.25s;
}

.技术栈 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

.博客导航页 {
  grid-column: 1 / -1;
}

.博客导航页 > p {
  height: fit-content !important;
}

.技术栈[未完成] {
  pointer-events: none;
  filter: brightness(50%);
}

.技术栈:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  background: linear-gradient(-45deg, #8d5240, #962c54, #1f718f, #11614f);
  background-size: 400% 400%;
  animation: 技术栈背景动画 5s ease infinite;
  box-shadow: 1px 1px 4px 0 #0005;
}

@keyframes 技术栈背景动画 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.技术栈 > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.技术栈 > p {
  height: 36px;
  font-size: 0.8rem;
  padding-top: 2px;
}

.侧边栏收缩容器 {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 35px;
  /* background-color: red; */
  top: 55px;
  left: 5px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.侧边栏收缩容器:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.侧边栏 {
  width: var(--侧边栏宽度);
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  /* background: #0a0a0a; */
  background-image: var(--侧边栏背景);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  padding-top: 150px;
}

.专题名称 {
  padding: 0 15px;
  font-size: 1.125rem;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.专题名称 > img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.专题列表 {
  width: 100%;
  height: fit-content;
  overflow-y: auto;
}

.专题 {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.专题:hover {
  background: var(--侧边栏颜色-鼠标悬停) !important;
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.专题-标记 {
  flex-shrink: 0;
  width: 15px;
  height: 100%;
  text-align: center;
}

.专题[原创] .专题-标记 {
  color: rgb(62, 163, 106);
}

.专题[转载] .专题-标记 {
  color: orange;
}

.专题-内容 {
  height: 30px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

span[侧边栏专题符号] {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: yellowgreen;
  background-color: rgb(60, 60, 60);
  box-shadow: 1px 1px 3px 0 #000a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0 5px;
}

.专题内容区 {
  width: 100%;
  min-height: calc(100vh - 50px);
  /* background-color: rgb(21, 21, 21); */
  background-image: var(--专题内容区背景);
  padding: 50px 50px 50px calc(var(--侧边栏宽度) + 50px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.专题横幅 {
  width: 95%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 100px;
  overflow: hidden;
}

.专题横幅 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.专题简介 {
  position: relative;
  /* z-index: 1; */
  min-width: 500px;
  width: 100%;
  height: fit-content;
  background: #0005;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 5%;
  border-radius: 10px;
}

.专题简介-背景伪元素 {
  position: absolute;
  z-index: 0;
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

p[简介标题] {
  position: relative;
  font-size: 1.5rem;
  color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}

p[简介标题] > img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

span[简介标题符号] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-image: linear-gradient(
    136.3deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgb(24, 49, 120) 87.6%
  );
  color: white;
  box-shadow: 1px 1px 5px 0 #000a;
}

p[作者信息] {
  /* position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(1px 1px 2px #000c);
}

span[姓名] {
  width: 70px;
  height: 32px;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

img[原创认证] {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

span[姓名="转载"],
a[邮箱="转载"] {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  color: black;
}

span[姓名="原创"],
a[邮箱="原创"] {
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #19333f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

a[邮箱] {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[邮箱="原创"] .fa-solid {
  color: white;
}

a[邮箱="转载"] .fa-solid {
  color: black;
}

a[邮箱="原创"]:hover {
  filter: brightness(150%);
}

a[邮箱]:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.专题正文区 {
  min-width: 400px;
  max-width: 1000px;
  /* min-height: 500px; */
  border-radius: 10px;
  /* background: #101010a0; */
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.专题正文区 ul,
.专题正文区 li {
  text-align: justify;
  text-justify: inter-word;
}

.符号-h2 {
  height: 25px;
  width: 25px;
  object-fit: contain;
  object-position: center;
  filter: drop-shadow(1px 1px 2px #000a);
}

.标题-h2 {
  height: 70px;
  padding: 0 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #2e4754,
    #284252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  box-shadow: 1px 1px 5px 0 #000a;
  letter-spacing: 2px;
}

.正文列表 {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.正文列表-1级 {
  gap: 20px;
  padding: 30px 0;
}

.正文列表项 {
  width: 100%;
}

.正文列表项-1级::marker {
  color: goldenrod;
}

.正文列表项-2级::marker {
  color: rgb(218, 113, 32);
}

.正文列表项-3级::marker {
  color: rgb(255, 97, 97);
}

.正文列表项-1级 {
  list-style-type: disc;
  font-size: 1.125rem;
}

.正文列表项-1级 > p {
  background: linear-gradient(50deg, #2c3e50, #4b5157);
  color: white;
  padding: 7.5px 10px;
  border-radius: 5px;
  width: fit-content;
}

.正文列表-2级 {
  gap: 10px;
  padding-left: 2em;
}

.正文列表项-2级 {
  font-size: 1rem;
  list-style-type: square;
  color: rgb(220, 220, 220);
}

.正文列表-3级 {
  gap: 7.5px;
  padding-left: 3em;
}

.正文列表项-3级 {
  font-size: 0.925rem;
  list-style-type: circle;
  color: rgb(190, 190, 190);
}

span[举例标题] {
  background-color: rgb(153, 168, 183);
  color: black;
  border-radius: 3px;
  padding: 1px 5px;
}

.语言 {
  display: inline-block;
  background-color: #3a434b;
  color: white;
  padding: 3px 7.5px;
  border-radius: 5px;
  font-family: consolas;
}

.超链接 {
  color: yellowgreen;
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

.超链接:visited {
  color: yellowgreen;
}

.超链接:hover {
  color: rgb(173, 104, 238);
}

.正文-表格 {
  padding: 15px 0;
}

.Web前端首页表格 {
  width: 400px;
}

.Web前端首页表格-列格式 > col:nth-child(1) {
  width: 45%;
}

.Web前端首页表格-列格式 > col:nth-child(2) {
  width: 55%;
}

.正文-表格 > thead > tr {
  width: 150px;
  background-color: rgb(191, 206, 216) !important;
  color: rgb(37, 55, 109);
}

.正文-表格 > thead {
  text-align: center;
  height: 40px;
}

.正文-表格 td {
  font-size: 0.9rem;
}

.正文-表格 > tbody > tr {
  height: 30px;
}

.正文-表格 > tbody td {
  text-align: center;
}

.正文-表格 tr:nth-child(even) {
  background-color: #499984;
  color: black;
}

.正文-表格 tr:nth-child(odd) {
  background-color: #2c5364;
}

.td-上下 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.td-上下-上 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span[特别提醒] {
  width: 100%;
  height: 50%;
  padding: 4px 10px;
  background-color: #181c2077;
  color: rgb(220, 218, 81);
  font-size: 0.8rem;
  /* border-radius: 50px; */
}

span[圆括号] {
  color: tomato;
}

span[圆括号内容] {
  background-color: rgb(53, 89, 157);
  border-radius: 3px;
  /* color: black; */
  padding: 1px 5px;
  margin: 0 5px;
  font-size: 1em;
}

.正文列表项-1级 > p > span[圆括号内容] {
  background: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  text-decoration-color: rgb(89, 230, 176);
  color: white;
  padding: 0 2.5px;
  margin: 0 0;
  font-size: 1em;
}

span[注释] {
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 3px;
  outline: solid 1.25px rgb(74, 193, 128);
  font-size: 0.6rem;
  color: rgb(225, 225, 225);
}

img[图含义="永恒代码统计"] {
  width: 500px;
  padding: 10px 0;
  object-fit: contain;
}

/* ------------------------------ ↓ 响应式设计 ------------------------------ */
@media screen and (width < 1700px) {
  .专题横幅 > img {
    object-fit: cover;
  }
}

@media screen and (width < 1600px) {
  .专题正文区 {
    max-width: 95%;
  }

  .专题简介 {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (width < 950px) {
  .Web前端首页表格 {
    width: auto;
    max-width: 400px;
  }

  img[图含义="永恒代码统计"] {
    width: 100%;
  }
}

@media screen and (width < 800px) {
  .专题简介 {
    width: 95dvw;
    min-width: auto;
    padding: 25px 0;
  }

  p[简介标题] {
    font-size: 1.5rem;
  }

  .专题正文区 {
    min-width: 100dvw;
  }

  .侧边栏收缩容器 {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  .侧边栏 {
    visibility: hidden !important;
    opacity: 0 !important;
    z-index: 1;
  }

  .专题内容区 {
    padding: 50px 25px 25px;
  }

  .技术栈选择栏 {
    width: 97.5% !important;
    height: auto;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
  }

  .技术栈选择器 {
    right: 1%;
    bottom: 0.5%;
  }
}
/* ------------------------------ ↑ 响应式设计 ------------------------------ */
