:root {
  --侧边栏宽度: 300px;
  --侧边栏颜色-鼠标悬停: rgb(54, 62, 78);
  --侧边栏颜色-已选中: rgb(122, 67, 107);
  --侧边栏背景: linear-gradient(60deg, #1f242b 0%, #252c32 100%);
  --专题内容区背景: linear-gradient(60deg, #181c20 0%, #262d35 100%);
  --超链接颜色-正文: skyblue;
}

.技术栈选择栏 {
  position: fixed;
  z-index: 1;
  width: 600px;
  height: 900px;
  bottom: 25px;
  right: 25px;
  border-radius: 10px;
  pointer-events: none;
}

.技术栈选择器 {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
  background: no-repeat center/contain url("./选择器修饰.png"),
    radial-gradient(circle at center, #80d0c744 0%, #13547a11 50%);
  bottom: 0;
  right: 0;
  pointer-events: all;
  /* transform-origin: 100% 100%; */
  animation: 旋转技术栈选择器 5s linear infinite;
  transition: 0.25s;
}

.技术栈选择器:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  animation-play-state: paused !important;
}

@keyframes 旋转技术栈选择器 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.技术栈内容 {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10.5%, 13.5%));
  grid-auto-rows: 105px;
  gap: 15px;
  place-content: start space-evenly;
  /* background: #000a; */
  background: linear-gradient(
    to right,
    #29323caa,
    #485563aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
  opacity: 0;
  transform-origin: 100% 100%;
  transform: scale(0);
  box-shadow: -2px 2px 12px 0 #000a;
  pointer-events: all;
  transition: 0.25s;
}

.技术栈 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

.博客导航页 {
  grid-column: 1 / -1;
}

.博客导航页 > p {
  height: fit-content !important;
}

.技术栈[未完成] {
  pointer-events: none;
  filter: brightness(50%);
}

.技术栈:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  background: #fff2;
}

.技术栈 > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.技术栈 > p {
  height: 36px;
  font-size: 0.8rem;
  padding-top: 2px;
}

.侧边栏 {
  width: var(--侧边栏宽度);
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  /* background: #0a0a0a; */
  background-image: var(--侧边栏背景);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  padding-top: 150px;
}

.专题名称 {
  padding: 0 15px;
  font-size: 1.125rem;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.专题名称 > img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.专题列表 {
  width: 100%;
  height: fit-content;
  overflow-y: auto;
}

.专题 {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.专题:hover {
  background: var(--侧边栏颜色-鼠标悬停) !important;
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.专题-标记 {
  width: 15px;
  height: 100%;
  text-align: center;
}

.专题[原创] .专题-标记 {
  color: rgb(62, 163, 106);
}

.专题[转载] .专题-标记 {
  color: orange;
}

.专题-内容 {
  height: 30px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

span[侧边栏专题符号] {
  width: 20px;
  height: 20px;
  color: yellowgreen;
  background-color: rgb(60, 60, 60);
  box-shadow: 1px 1px 3px 0 #000a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0 5px;
}

.专题内容区 {
  width: 100%;
  min-height: calc(100vh - 50px);
  /* background-color: rgb(21, 21, 21); */
  background-image: var(--专题内容区背景);
  padding: 50px 50px 50px calc(var(--侧边栏宽度) + 50px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.专题横幅 {
  width: 95%;
  height: 500px;
  /* background-color: darkgoldenrod; */
  border-radius: 10px;
  margin-bottom: 150px;
  overflow: hidden;
}

.专题横幅 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.专题简介 {
  position: relative;
  /* z-index: 1; */
  min-width: 500px;
  width: 100%;
  height: fit-content;
  background: #0005;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 5%;
  border-radius: 10px;
}

.专题简介-背景伪元素 {
  position: absolute;
  z-index: 0;
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

p[简介标题] {
  position: relative;
  font-size: 3.5rem;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

span[简介标题符号] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-image: linear-gradient(
    136.3deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgb(24, 49, 120) 87.6%
  );
  color: white;
  box-shadow: 1px 1px 5px 0 #000a;
}

p[作者信息] {
  /* position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(1px 1px 2px #000c);
}

span[姓名] {
  width: 70px;
  height: 32px;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

img[原创认证] {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

span[姓名="转载"],
a[邮箱="转载"] {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  color: black;
}

span[姓名="原创"],
a[邮箱="原创"] {
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #19333f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

a[邮箱] {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[邮箱="原创"] .fa-solid {
  color: white;
}

a[邮箱="转载"] .fa-solid {
  color: black;
}

a[邮箱="原创"]:hover {
  filter: brightness(150%);
}

a[邮箱]:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.专题正文区 {
  min-width: 75%;
  max-width: 1200px;
  min-height: 500px;
  border-radius: 10px;
  /* background: #101010a0; */
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.专题正文-h1 {
  height: 85px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.专题正文-列表 li:has(.专题正文-h1)::marker {
  content: "\262F";
  font-size: 2rem;
  color: rgb(38, 152, 154);
}

.专题正文-列表 p {
  padding: 2.5px 0;
}

.专题正文-列表 > li {
  font-size: 1.125rem;
}

.专题正文-1级列表 {
  padding: 10px 0;
}

.专题正文-1级列表 > li {
  list-style-type: disc;
}

.专题正文-1级列表 > li::marker {
  color: goldenrod;
}

a[超链接] {
  color: var(--超链接颜色-正文);
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

.博客导航页-专题正文区 .专题正文-h1,
.博客导航页-专题正文区 .专题正文-1级列表 {
  width: fit-content;
  /* margin: 0 auto; */
}

.专题正文-2级列表 > li {
  list-style-type: circle;
  color: rgb(150, 150, 150);
  margin-left: 2em;
}

.专题正文-2级列表 > li::marker {
  color: goldenrod;
}

/* ------------------------------ ↓ 响应式设计 ------------------------------ */
@media screen and (width < 1700px) {
  .专题横幅 > img {
    object-fit: cover;
  }
}

@media screen and (width < 1600px) {
  .专题正文区 {
    min-width: 95%;
  }

  .专题简介 {
    width: 100%;
  }
}
/* ------------------------------ ↑ 响应式设计 ------------------------------ */
