*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#重置按钮 {
  position: fixed;
  top: 8vh;
  right: 3vw;
  width: 120px;
  height: 65px;
  background-color: rgb(216, 214, 212);
  border-radius: 20px;
  transition: background-color 0.4s ease;
  font-size: 19px;
  color: rgb(37, 37, 36);
}

#重置按钮:hover{
  background-color: rgb(71, 70, 70, 0.3);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

#重置按钮:hover p{
  color:  rgb(201, 236, 161);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.科目区 {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.科目 {
  width: 40%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.科目:hover {
  border: solid 3px rgb(223, 218, 175);
}

table {
  margin-right: 8%;
  width: 80%;
  height: 80%;
  border-collapse: separate;
  border-spacing: 20px;
  table-layout: fixed;
}

td {
  height: 10%;
  border: solid rgb(184, 177, 177) 0.8px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(41, 40, 40, 0.5);
}

.午休 {
  border: none;
  text-align: center;
}

@media (max-width: 1080px) {
  .main {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
  }

  .科目区 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .科目 {
    width: 30%;
    height: 50px;
    margin: 5px;
  }

  table {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  td {
    height: 50px;
  }
}

@media (min-width: 1081px) and (max-width: 1440px) {
  .科目 {
    width: 40%;
    height: 7%;
  }

  table {
    width: 90%;
  }
}

@media (min-width: 1441px) {
  .科目 {
    width: 40%;
    height: 7%;
  }

  table {
    width: 80%;
  }
}
