:root {
  --标题下间距: 5px;
  --列表左右内边距: 4px;
}

.pcr-app {
  background: #222 !important;
  box-shadow: 0 0 0 1px #def5, 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 1em 0 rgba(0, 0, 0, 0.03) !important;
}

.pcr-app[data-theme="monolith"] {
  width: 16em;
}

.pcr-interaction > input[type="text"].pcr-result,
.pcr-interaction input.pcr-type {
  background: #111;
  color: white;
  outline: solid 1px #fff4;
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑, sans-serif;
}

.pcr-app .pcr-interaction > input[type="text"].pcr-result {
  width: 100%;
  flex: auto;
  color: white;
}

.pcr-app .pcr-interaction > input.pcr-type {
  width: calc(50% - 0.4em);
  color: silver;
}

.pcr-app .pcr-interaction > input.pcr-type.active {
  color: white;
  background-color: #3174e3;
}

.禁用 {
  filter: brightness(0.25);
  pointer-events: none;
}

#总区 {
  width: clamp(800px, 97.5vw, 2400px);
  height: clamp(600px, calc(100vh - 100px), 1200px);
  margin: 75px auto 0;
  display: flex;
  flex-direction: column;
  outline: solid 2px #fff2;
  font-family: "Google Sans Code", Consolas, "Noto Sans SC", 微软雅黑, sans-serif;
}

#设置区 {
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  background-color: #ffffff08;
  padding: 10px 20px;
  display: flex;
  gap: 30px;
}

.设置分区 {
  display: flex;
  flex-direction: column;
  gap: var(--标题下间距);
}

.标题 {
  color: #89a;
  padding-left: 2px;
  user-select: none;
}

.辅助列表.列表 {
  padding: 0 2px;
  display: flex;
}

.辅助视觉效果区 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.辅助复选区 {
  position: relative;
  padding: 1px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
}

.辅助复选区:hover > .标签 {
  box-shadow: inset 0 0 0 1px #d7a;
  background-color: #d7a2;
}

.辅助视觉效果区 > .标签::before {
  background: center/70% no-repeat url("./Images/visual-effects-off.svg");
  filter: invert(1) brightness(1);
}

.辅助视觉效果区:has(.复选框:checked) .标签::before {
  background: center/70% no-repeat url("./Images/visual-effects-on.svg");
  filter: invert(0) brightness(2);
}

.按钮音效效果区 > .标签::before {
  background: center/60% no-repeat url("./Images/audio-off.svg");
  filter: invert(1);
}

.按钮音效效果区:has(.复选框:checked) .标签::before {
  background: center/60% no-repeat url("./Images/audio-on.svg");
}

.标签 {
  text-wrap: nowrap;
  user-select: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.辅助列表 .标签::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.复选框 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

#绘图区 {
  width: 100%;
  flex-grow: 1;
  background-color: #00000025;
}

#画布 {
  width: 100%;
  height: 100%;
}

.基础形状区 {
  width: calc(30px * 4 + var(--列表左右内边距) * 2);
  height: 100%;
}

.列表,
.操作列表组 {
  background-color: #0005;
  box-shadow: inset 0 0 1px 1px #000a;
  flex-grow: 1;
  padding: 2px var(--列表左右内边距);
}

.形状列表 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.基础形状分区 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 4px;
  position: relative;
}

.基础形状分区:has(.基础形状单选框:checked) .形状符号 {
  background-color: #5af8;
}

.基础形状分区:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.基础形状分区:hover .形状符号 {
  background-color: #5af3;
  box-shadow: inset 0 0 1px 1px #5af;
}

.基础形状分区:has(.基础形状单选框:checked) .示意符号 {
  filter: invert(1);
}

label {
  user-select: none;
}

.形状符号 {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 16px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.示意符号 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(0.8);
}

.基础形状单选框 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.单选框:hover,
.复选框:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

#清空画布按钮 {
  flex-grow: 1;
  width: 75px;
  background-color: #722222;
  color: #fff;
  box-shadow: inset 0 0 1px 1px #fff3;
}

#清空画布按钮 > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

#清空画布按钮:hover {
  box-shadow: inset 0 0 1px 1px #fffa;
  background-color: #922222;
}

#清空画布按钮:active {
  box-shadow: inset 0 0 1px 1px #fff;
  background-color: #b22222;
}

.操作列表组 {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.常用操作列表,
.形状交互列表,
.形状操纵列表 {
  display: flex;
  background-color: transparent;
  box-shadow: none;
  flex-grow: 0;
  padding: 0;
}

.常用操作列表 > .按钮,
.形状交互列表 > .按钮 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
}

.常用操作列表 > .按钮 > img,
.形状交互列表 > .按钮 > img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.按钮容器 {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 4px;
}

.按钮 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  user-select: none;
  border-radius: 4px;
  padding: 4px;
}

.按钮:hover {
  box-shadow: inset 0 0 1px 1px #5afc;
  background-color: #5af3;
}

.按钮:active {
  box-shadow: inset 0 0 1px 1px #5af;
  background-color: #5af7;
}

.基础形状分区.选框区 > .形状符号 {
  padding: 4px;
}

.基础形状分区.选框区:has(.单选框:checked) .形状符号 {
  background-color: #5af8;
}

.基础形状分区.选框区:hover .形状符号 {
  background-color: #5af3;
  box-shadow: inset 0 0 1px 1px #5af;
}

.颜色分区 {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50%;
  padding: 0 10px;

  .复选框 {
    position: static;
    opacity: 1;
    width: 100px;
  }
}

.描边宽度区 {
  .描边宽度容器 {
    display: flex;
    align-items: center;

    #描边宽度 {
      accent-color: #49e;
    }

    #描边宽度::-webkit-slider-thumb {
      scale: 1.25;
    }

    .标签 {
      width: calc(2ch + 10px);
      padding-left: 10px;
      color: lightsteelblue;
    }
  }
}
