.game-area {
  position: relative;
  height: calc(100vh - 210px);
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.画板区 {
  height: clamp(600px, 100%, 1200px);
  aspect-ratio: 0.75;
  outline: solid 2px #678;
  backdrop-filter: blur(10px) brightness(0.5);
}

#画板 {
  width: 100%;
  height: 100%;
}
