:root {
  --进度条颜色-已填充: rgb(41, 126, 78);
  --进度条颜色-未填充: rgba(224, 224, 224, 0.85);
  --拇指宽度: 16px;
  --变量背景色: #cde2;
  --光标-指向: url("/Images/Common/鼠标-指向.cur"), pointer;
  --已占用颜色: rgba(154, 205, 50, 0.75);
}

.变量总区 {
  min-height: 100vh;
  height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
}

.设置区 {
  width: max(750px, 75%);
  margin: 0 auto;
  height: 100px;
}

.展示区 {
  width: 100%;
  margin: 0 auto;
}

.变量区 {
  margin: 0 auto;
  width: max(750px, 75%);
  backdrop-filter: blur(10px);
}

.变量容器区 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.变量容器 {
  width: 35px;
  height: 35px;
  background: linear-gradient(transparent 0%, transparent 100%) border-box,
    linear-gradient(var(--变量背景色) 0%, var(--变量背景色) 100%) padding-box;
  border: solid 1px transparent;
}

.变量容器:hover {
  border: solid 1px silver;
  outline: solid 1px silver;
  box-shadow: inset 0 0 0 2px black;
  cursor: var(--光标-指向);
  filter: brightness(125%);
}

.变量容器.预占用 {
  background-color: rgb(255, 255, 0, 0.5);
}

.滑块标签 {
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
}

.滑块标签[for="内存容量"] {
  width: 370px;
}

.控件标题 {
  color: rgb(96, 138, 189);
}

.滑块 {
  width: 150px;
  margin: 0 10px;
  accent-color: silver;
}

.滑块::-webkit-slider-thumb {
  scale: 1.4;
}

.滑块:hover {
  cursor: var(--光标-指向);
}

.滑块值 {
  font-size: 16px;
  color: lightskyblue;
  margin-right: 5px;
}

.单位中文,
.单位英文 {
  color: rgb(97, 165, 97);
  font-size: 14px;
}

.单位分隔符 {
  color: gray;
  margin: 0 2px;
  font-size: 12px;
}
