:root {
  --进度条颜色-已填充: rgb(41, 126, 78);
  --进度条颜色-未填充: rgba(224, 224, 224, 0.85);
  --拇指宽度: 16px;
  --变量背景色: #cde2;
  --光标-指向: url("/Images/Common/鼠标-指向.cur"), pointer;
  --已占用颜色: rgba(154, 205, 50, 0.75);
  --抬头应用名称: "";
}

.变量总区 {
  min-height: 100vh;
  height: fit-content;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: flex-start;
}

.内存分配区 {
  position: fixed;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  background-color: #cde1;
  outline: solid 2px #def3;
}

.内存分配分区 {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#cdf2 0%, rgba(255, 255, 255, 0.05) 100%);
  padding: 5px 15px;
}

.内存分配区标题 {
  color: #cdea;
  margin: 10px auto;
  font-size: 14px;
}

.内存分配颜色名称与容量 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  padding: 5px 0 2px;
}

.内存分配颜色与名称 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.内存分配容量 {
  color: rgb(97, 169, 97);
}

.内存分配数据 {
  padding: 2px 0 5px;
  font-size: 13px;
}

.内存地址连接线 {
  color: gray;
}

.内存分配起始地址,
.内存分配结束地址 {
  color: silver;
}

.名称颜色 {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  box-shadow: inset 0 0 0 1px #777;
}

.名称文本 {
  color: rgb(122, 168, 183);
  font-weight: normal;
}

.名称文本,
.抬头文本,
.字节名称 {
  font-family: Noto Sans SC, sans-serif;
}

.内存分配地址 {
  display: flex;
  align-items: center;
}

.内存地址连接线 {
  margin: 0 5px;
}

.设置区 {
  width: max(750px, 75%);
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

.代码输入区 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.代码输入分区 {
  width: 325px;
  padding: 0 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: #fff1;
  backdrop-filter: blur(5px);
  border: solid 1px #fff4;
}

.可变代码输入分区 .代码输入分区标题 {
  display: flex;
  justify-content: center;

  .标签 {
    display: flex;
    width: fit-content;
    position: relative;
    padding: 0;

    .标签文本 {
      width: fit-content;
      text-wrap: nowrap;
      padding: 3px 10px;
      position: relative;
      font-size: 0.9em;
      border: solid 1px transparent;
      color: rgb(155, 155, 155);
      background-color: #fff1;
      user-select: none;
      transition: 25ms;
    }

    .单选框 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      appearance: none;
    }

    .单选框:checked + .标签文本 {
      border: solid 1px #fff6;
      color: gold;
      background-color: #def3;
      font-size: 1em;
    }

    &:hover {
      .标签文本 {
        background-color: #fff2;
        color: silver;
        cursor: var(--光标-指向);
      }
    }
  }
}

.代码输入分区标题 {
  width: 100%;
  height: 46px;
  text-align: center;
  align-content: center;
  color: gold;
  padding: 8px 0;
  background-color: #def1;
}

.代码含义区,
.代码区 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 10px;
}

.占位符 {
  opacity: 0;
  pointer-events: none;
}

.变量类型,
.类型框 {
  flex-grow: 1.2;
}

.变量标识符,
.标识符框 {
  flex-grow: 1.25;
}

.变量值,
.值框 {
  flex-grow: 1.75;
}

.等号,
.分号 {
  width: 0;
  flex-grow: 0.25;
  text-align: center;
  color: gray;
}

.标签 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  padding: 3px 4px;
  color: lightblue;
}

.文本框 {
  width: 0;
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
  padding: 3px 4px;
  background-color: #20252a;
  outline: solid 1px #60656a;
  border: none;
  text-align: center;
}

.类型框 {
  color: palevioletred;
}

.标识符框 {
  color: darkorange;
}

.标识符框.错误 {
  background-color: rgb(125, 30, 30) !important;
}

.值框 {
  color: greenyellow;
}

.文本框:focus {
  background-color: #30353a;
  outline: solid 1px #a0a5aa;
}

.展示区 {
  width: 100%;
  margin: 0 auto;
}

.变量区 {
  margin: 0 auto;
  width: max(750px, 75%);
  backdrop-filter: blur(10px);
}

.变量容器区 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.变量容器 {
  width: 35px;
  height: 35px;
  background: linear-gradient(transparent 0%, transparent 100%) border-box,
    linear-gradient(var(--变量背景色) 0%, var(--变量背景色) 100%) padding-box;
  border: solid 1px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.本应用内存顺序 {
  position: relative;
  text-align: center;
  align-content: center;
  font-size: 12px;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  scale: 0.83333333;
}

.变量容器:not(:has(.应用抬头容器:hover)):hover,
.变量容器.当前应用 {
  box-shadow: inset 0 0 0 2px black;
  cursor: var(--光标-指向);
  filter: brightness(125%);
}

.变量容器:hover .应用抬头容器 {
  filter: brightness(80%);
}

.变量容器:not(:has(.应用抬头容器:hover)):hover {
  border: solid 1px silver;
}

.变量容器.当前应用 {
  border: solid 1px white;
}

.变量容器.预占用 {
  background-color: rgb(255, 255, 0, 0.5);
}

.字节描述 {
  position: absolute;
  bottom: 125%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  font-size: 14px;
  pointer-events: none;
  border: solid 1px silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-origin: 50% 100%;
  scale: 0.9;
  z-index: 10;
  box-shadow: 2px 2px 2px 0 #111;
}

.字节名称与顺位 {
  width: 100%;
  padding: 3px 0;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellowgreen;
}

.字节名称 {
  text-wrap: nowrap;
  padding: 0 10px 0 5px;
}

.字节顺位 {
  color: gray;
  padding: 0 5px 0 10px;
}

.字节地址 {
  width: 100%;
  background-color: #333;
  color: silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.进制地址 {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.进制 {
  height: 100%;
  text-wrap: nowrap;
  padding: 5px 7px;
  margin-right: 10px;
  background-color: #456;
  color: lightcyan;
  scale: 0.9;
}

.地址代码 {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.地址前缀 {
  color: peru;
}

.地址值 {
  text-align: right;
}

.变量容器.已占用:not(:has(.应用抬头容器:hover)):hover .字节描述 {
  translate: -50% 0;
  opacity: 1;
}

.应用抬头容器 {
  padding-right: 5px;
  position: absolute;
  top: -30%;
  right: 100%;
  scale: 0.8;
  transform-origin: 100% 50%;
}

.应用抬头容器:hover {
  cursor: var(--光标-指向);
}

.应用抬头 {
  padding: 5px 10px;
  outline: solid 1px #aaa;
  background-color: #111;
  font-size: 12px;
  box-shadow: 2px 2px 2px 0 #111;
}

.应用抬头:hover {
  outline: solid 1px orange;
  background-color: #123;
}

.应用抬头:hover .抬头文本 {
  color: #8fc;
}

.抬头文本 {
  text-wrap: nowrap;
  color: white;
}

.滑块标签 {
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
}

.滑块标签[for="内存容量"] {
  width: 370px;
}

.控件标题 {
  color: rgb(96, 138, 189);
}

.滑块 {
  width: 150px;
  height: 6px;
  margin: 0 10px;
  accent-color: silver;
}

.滑块::-webkit-slider-thumb {
  scale: 1.4;
}

.滑块:hover {
  cursor: var(--光标-指向);
}

.滑块值 {
  font-size: 16px;
  color: lightskyblue;
  margin-right: 5px;
}

.单位中文,
.单位英文 {
  color: rgb(97, 165, 97);
  font-size: 14px;
}

.单位分隔符 {
  color: gray;
  margin: 0 2px;
  font-size: 12px;
}
