.game-area {
  /* background-color: brown; */
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#game-info {
  width: 1000px;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#card-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 300px;
  margin-bottom: 10px;
}

.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  transform: scale(170%);
}

#card-count > p {
  font-size: 1.75em;
}

#card-count-text {
  color: cornflowerblue;
}

#game-info > p {
  position: relative;
  font-size: 3em;
  color: rgb(223, 207, 71);
  font-weight: bolder;
}

#time-passed,
#click-count {
  color: rgb(252, 252, 252);
}

#card-grid {
  /* background-color: blueviolet; */
  width: 900px;
  height: 800px;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.outer {
  width: 150px;
  aspect-ratio: 1;
  background-color: transparent;
  perspective: 1000px;
}

.outer:hover {
  cursor: pointer;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.35s;
  transform-style: preserve-3d;
}

.outer:hover > .inner {
  transform: scale(1.1);
  z-index: 5;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.front > img,
.back > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
  -webkit-user-drag: none;
}

.front > img {
  object-fit: scale-down;
}

.back > img {
  object-fit: cover;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1000px) {
  .game-area {
    height: 100vh;
  }

  .game-area::before {
    height: 95%;
  }

  #game-info {
    margin: 10px 0;
    width: 100vw;
    justify-content: space-around;
  }

  .slider {
    width: 150px;
    margin-bottom: 10px;
  }

  #card-count > p {
    font-size: 1.25em;
  }

  #game-info > p {
    font-size: 1.25em;
  }

  #card-grid {
    /* background-color: blueviolet; */
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
  }

  .outer {
    width: 20vw;
    height: 20vw;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
