body {
  position: relative;
}

.games-navigator {
  margin: 60px auto 100px;
  min-height: 100vh;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 2px 2px;
}

.game-grid {
  border-radius: 10px;
  background-color: #000;
  outline: solid 4px transparent;
  /* border: solid 2px rgb(15, 15, 15); */
  margin: 3px;
  position: relative;
  overflow: hidden;
}

.game-grid.none {
  pointer-events: none;
}

/* ea → early access：早期开发中 */
.game-grid.ea {
  background-color: #567;
}

.game-grid.ea img {
  filter: brightness(25%);
}

.game-grid.ea::after {
  position: absolute;
  content: "开发中";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  align-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 250ms;
}

.game-grid.ea:hover::after {
  opacity: 1;
}

.game-grid:hover {
  cursor: url(/Images/Common/鼠标-指向.cur), pointer;
  box-shadow: 4px 4px 10px 0 #000, -4px -4px 10px 0 #000;
  outline: solid 4px #abc;
}

.game-grid > a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.game-grid > a > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 250ms;
}

.game-grid:hover > a > img {
  scale: 1.1;
}

.game-grid > a > p {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 2px 0 rgba(20, 20, 20, 0.75), inset 0 1px 2px 0 #fffd;
  color: black;
  padding: 4px 15px 4px 5px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  text-align: center;
  align-content: center;
  position: relative;
  margin: 0 10px 10px 0;
  backdrop-filter: blur(5px);
  transition: 125ms;
}

.game-grid > a > p:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0 rgba(20, 20, 20, 0.75), inset 0 1px 2px 0 #fff8;
  color: rgb(255, 255, 255);
}

.game-grid > .游戏作者 {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transform-origin: 100% 0;
  box-shadow: 2px 2px 5px 0 #000a;
  overflow: hidden;
  transition: 125ms;
}

.游戏作者:hover {
  scale: 1.25;
}

.游戏作者:hover .游戏作者肖像 {
  filter: brightness(112.5%) saturate(112.5%);
}

.游戏作者肖像 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 125ms;
}

.游戏序号 {
  top: 5px;
  left: 10px;
  height: 20px;
  padding: 0 8px;
  text-align: center;
  align-content: center;
  border-radius: 999px;
  font-size: 12px;
  font-family: "Google Sans Code", monospace;
  font-weight: bold;
  background-color: #fff0;
  color: #202e3d;
  box-shadow: 0px 1px 1px 0 #0005, inset 0 1px 2px 0 #fffd;
  transition: 125ms;
}

.game-grid > a > p:hover .游戏序号 {
  background-color: #fff3;
  box-shadow: inset 0 1px 2px 0 #fff8;
  color: lightgoldenrodyellow;
}

.game-1 {
  grid-area: 1 / 1 / 8 / 3;
}

.game-2 {
  grid-area: 1 / 3 / 4 / 6;
}

.game-3 {
  grid-area: 4 / 3 / 8 / 5;
}

.game-4 {
  grid-area: 4 / 5 / 8 / 6;
}

.game-5 {
  grid-area: 1 / 6 / 7 / 8;
}

.game-6 {
  grid-area: 7 / 6 / 9 / 8;
}

.game-7 {
  grid-area: 1 / 8 / 5 / 10;
}

.game-8 {
  grid-area: 1 / 10 / 8 / 11;
}

.game-9 {
  grid-area: 5 / 8 / 12 / 10;
}

.game-10 {
  grid-area: 8 / 1 / 14 / 2;
}

.game-11 {
  grid-area: 8 / 2 / 12 / 4;
}

.game-12 {
  grid-area: 12 / 2 / 15 / 5;
}

.game-13 {
  grid-area: 8 / 4 / 12 / 6;
}

.game-14 {
  grid-area: 14 / 1 / 18 / 2;
}

.game-15 {
  grid-area: 18 / 1 / 21 / 3;
}

.game-16 {
  grid-area: 15 / 2 / 18 / 5;
}

.game-17 {
  grid-area: 18 / 3 / 21 / 5;
}

.game-18 {
  grid-area: 9 / 6 / 12 / 8;
}

.game-19 {
  grid-area: 8 / 10 / 11 / 11;
}

.game-20 {
  grid-area: 12 / 5 / 21 / 7;
}

.game-21 {
  grid-area: 18 / 7 / 21 / 9;
}

.game-22 {
  grid-area: 12 / 7 / 18 / 10;
}

.game-23 {
  grid-area: 11 / 10 / 21 / 11;
}

.game-24 {
  grid-area: 18 / 9 / 21 / 10;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1400px) {
  .games-navigator {
    width: 98%;
    min-height: 200vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(24, 1fr);
    column-gap: 0;
    row-gap: 0;
  }

  .game-1 {
    grid-area: 1 / 1 / span 2 / span 1;
  }

  .game-2 {
    background-color: cadetblue;
    grid-area: 1 / 2 / span 2 / span 1;
  }

  .game-3 {
    background-color: goldenrod;
    grid-area: 3 / 1 / span 2 / span 1;
  }

  .game-4 {
    background-color: yellowgreen;
    grid-area: 3 / 2 / span 2 / span 1;
  }

  .game-5 {
    background-color: violet;
    grid-area: 5 / 1 / span 2 / span 1;
  }

  .game-6 {
    background-color: tomato;
    grid-area: 5 / 2 / span 2 / span 1;
  }

  .game-7 {
    background-color: thistle;
    grid-area: 7 / 1 / span 2 / span 1;
  }

  .game-8 {
    background-color: chartreuse;
    grid-area: 7 / 2 / span 2 / span 1;
  }

  .game-9 {
    background-color: chocolate;
    grid-area: 9 / 1 / span 2 / span 1;
  }

  .game-10 {
    background-color: cornflowerblue;
    grid-area: 9 / 2 / span 2 / span 1;
  }

  .game-11 {
    background-color: darkblue;
    grid-area: 11 / 1 / span 2 / span 1;
  }

  .game-12 {
    background-color: crimson;
    grid-area: 11 / 2 / span 2 / span 1;
  }

  .game-13 {
    background-color: darkmagenta;
    grid-area: 13 / 1 / span 2 / span 1;
  }

  .game-14 {
    background-color: rgb(44, 88, 90);
    grid-area: 13 / 2 / span 2 / span 1;
  }

  .game-15 {
    background-color: blueviolet;
    grid-area: 15 / 1 / span 2 / span 1;
  }

  .game-16 {
    background-color: slategrey;
    grid-area: 15 / 2 / span 2 / span 1;
  }

  .game-17 {
    background-color: skyblue;
    grid-area: 17 / 1 / span 2 / span 1;
  }

  .game-18 {
    background-color: rosybrown;
    grid-area: 17 / 2 / span 2 / span 1;
  }

  .game-19 {
    background-color: rgb(11, 66, 102);
    grid-area: 19 / 1 / span 2 / span 1;
  }

  .game-20 {
    background-color: royalblue;
    grid-area: 19 / 2 / span 2 / span 1;
  }

  .game-21 {
    background-color: rgb(16, 67, 70);
    grid-area: 21 / 1 / span 2 / span 1;
  }

  .game-22 {
    background-color: darkmagenta;
    grid-area: 21 / 2 / span 2 / span 1;
  }

  .game-23 {
    background-color: rgb(107, 189, 134);
    grid-area: 23 / 1 / span 2 / span 1;
  }

  .game-24 {
    background-color: rgb(179, 128, 51);
    grid-area: 23 / 2 / span 2 / span 1;
  }
}

@media screen and (max-width: 750px) {
  .games-navigator {
    width: 98%;
    min-height: 400vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(48, 1fr);
    column-gap: 0;
    row-gap: 0;
  }

  .game-1 {
    grid-area: 1 / 1 / span 2 / span 2;
  }

  .game-2 {
    background-color: cadetblue;
    grid-area: 3 / 1 / span 2 / span 2;
  }

  .game-3 {
    background-color: goldenrod;
    grid-area: 5 / 1 / span 2 / span 2;
  }

  .game-4 {
    background-color: yellowgreen;
    grid-area: 7 / 1 / span 2 / span 2;
  }

  .game-5 {
    background-color: violet;
    grid-area: 9 / 1 / span 2 / span 2;
  }

  .game-6 {
    background-color: tomato;
    grid-area: 11 / 1 / span 2 / span 2;
  }

  .game-7 {
    background-color: thistle;
    grid-area: 13 / 1 / span 2 / span 2;
  }

  .game-8 {
    background-color: chartreuse;
    grid-area: 15 / 1 / span 2 / span 2;
  }

  .game-9 {
    background-color: chocolate;
    grid-area: 17 / 1 / span 2 / span 2;
  }

  .game-10 {
    background-color: cornflowerblue;
    grid-area: 19 / 1 / span 2 / span 2;
  }

  .game-11 {
    background-color: darkblue;
    grid-area: 21 / 1 / span 2 / span 2;
  }

  .game-12 {
    background-color: crimson;
    grid-area: 23 / 1 / span 2 / span 2;
  }

  .game-13 {
    background-color: darkmagenta;
    grid-area: 25 / 1 / span 2 / span 2;
  }

  .game-14 {
    background-color: rgb(44, 88, 90);
    grid-area: 27 / 1 / span 2 / span 2;
  }

  .game-15 {
    background-color: blueviolet;
    grid-area: 29 / 1 / span 2 / span 2;
  }

  .game-16 {
    background-color: slategrey;
    grid-area: 31 / 1 / span 2 / span 2;
  }

  .game-17 {
    background-color: skyblue;
    grid-area: 33 / 1 / span 2 / span 2;
  }

  .game-18 {
    background-color: rosybrown;
    grid-area: 35 / 1 / span 2 / span 2;
  }

  .game-19 {
    background-color: rgb(11, 66, 102);
    grid-area: 37 / 1 / span 2 / span 2;
  }

  .game-20 {
    background-color: royalblue;
    grid-area: 39 / 1 / span 2 / span 2;
  }

  .game-21 {
    background-color: rgb(16, 67, 70);
    grid-area: 41 / 1 / span 2 / span 2;
  }

  .game-22 {
    background-color: darkmagenta;
    grid-area: 43 / 1 / span 2 / span 2;
  }

  .game-23 {
    background-color: rgb(107, 189, 134);
    grid-area: 45 / 1 / span 2 / span 2;
  }

  .game-24 {
    background-color: rgb(179, 128, 51);
    grid-area: 47 / 1 / span 2 / span 2;
  }
}

@media screen and (max-height: 1100px) {
  .game-grid > a > p {
    padding: 2px 15px 2px 5px;
    font-size: 14px;
    margin: 0 5px 5px 0;
  }

  .游戏序号 {
    height: 15px;
  }

  .game-grid > .游戏作者 {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-height: 900px) {
  .game-grid > .游戏作者 {
    width: 30px;
    height: 30px;
  }
}

/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
