*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2d30;
  min-height: 100vh;
}

label {
  user-select: none;
}

#信息提供区 {
  height: 700px;
  width: 100%;
  color: white;
  border: solid 2px #30353a;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.标题 {
  padding: 5px 0 30px 0;
  color: lightskyblue;
  font-size: 2.5rem;
}

.信息输入区 {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 50px 25px;
  outline: solid 2px #345;
}

.标签区 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.标签 {
  width: 100px;
  text-align: right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #def;
  -webkit-box-shadow: 0 0 0 1000px #555 inset;
}

.输入框 {
  font-size: 1rem;
  background-color: #555;
  color: #def;
  border: none;
  padding: 5px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  outline: solid 2px transparent;
  transition: 150ms;
}

.标签区:hover .输入框 {
  outline: solid 2px #d8e6ff70;
}

.输入框::placeholder {
  font-size: 1rem;
  color: #aaa;
  transition: 150ms;
}

.标签区 .输入框:focus {
  outline: solid 2px lightblue;
}

.输入框:focus::placeholder {
  color: transparent;
}

#选项区 {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.选项标签 {
  display: flex;
  align-items: center;
}

.选项标签:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.选项文本 {
  padding: 0 5px;
}

.选项复选框 {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #777;
  position: relative;
  font-size: 16px;
}

.选项复选框:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.选项标签:hover .选项复选框 {
  outline: solid 1px lightcyan;
}

.选项复选框:checked::before {
  position: absolute;
  content: "\2713";
  color: lightgreen;
  font-weight: bold;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#颜色模式 {
  appearance: none;
  width: 60px;
  height: 35px;
  border-radius: 500px;
  position: relative;
  background-color: #4a4a4a;
  transition: 250ms;
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

#颜色模式:hover {
  box-shadow: inset 0 0 2px 1px #fff5;
}

#颜色模式::before {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 500px;
  background-color: darkolivegreen;
  content: "\1F319";
  font-size: 1rem;
  transition: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 0 #0005;
}

#颜色模式:checked::before {
  color: gold;
  left: calc(100% - 35px);
  top: 0;
  font-family: "Font Awesome 6 Free", ui-rounded;
  content: "\f185";
}

#生成截图 {
  position: relative;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: seagreen;
  color: white;
  box-shadow: inset 0 0 4px 2px transparent;
  transition: 250ms;
}

#生成截图:hover {
  box-shadow: inset 0 0 4px 2px rgb(109, 219, 157);
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

#生成截图:active {
  background-color: lightseagreen;
  box-shadow: inset 0 0 4px 2px transparent;
}

.生成截图后置动画区 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  content: "";
  z-index: -1;
  border-radius: 5px;
  overflow: hidden;
}

.生成截图后置动画区::before {
  position: absolute;
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: conic-gradient(
    transparent 0deg,
    cyan 5deg,
    cyan 65deg,
    transparent 66deg
  );
  content: "";
  opacity: 0;
  animation: 截图按钮后置背景动画 2s ease-out infinite;
  animation-play-state: paused;
  transition: 250ms;
}

#生成截图:hover .生成截图后置动画区::before {
  animation-play-state: running;
  opacity: 1;
}

@keyframes 截图按钮后置背景动画 {
  from {
    rotate: z 0deg;
    filter: hue-rotate(0deg);
  }
  to {
    rotate: z 360deg;
    filter: hue-rotate(360deg);
  }
}

#截图生成区 {
  background-color: #1a1a1a;
  margin: 50px auto 0;
  width: 500px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  color: white;
  font-family: "微软雅黑", sans-serif;
}

.时间区 {
  width: 100%;
  text-align: center;
  color: #888;
}

.班级名称区 {
  padding: 15px;
  border-bottom: solid 1px #222;
  font-size: 1.2rem;
  width: 100%;
}

#截图生成区[浅色模式] .班级名称区 {
  border-bottom: solid 1px #ddd;
}

.个人区 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.个人区.班主任区 {
  flex-direction: row-reverse;
}

.头像区 {
  width: 30px;
  height: 30px;
  border-radius: 500px;
  overflow: hidden;
  flex-shrink: 0;
}

.头像 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.姓名内容区 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 80%;
}

.个人区.班主任区 .姓名内容区 {
  align-items: flex-end;
}

.姓名区 {
  color: #888;
  position: relative;
}

.个人区.班主任区 .姓名区::before {
  position: absolute;
  top: 0;
  right: 120%;
  content: "班主任";
  padding: 2px 0;
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.内容区 {
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  line-height: 1.5em;
}

#截图生成区[浅色模式] {
  background-color: #eee;
  color: black;
}

#截图生成区[浅色模式] .个人区.班主任区 .内容区 {
  background-color: #0099ff;
  color: white;
}

#截图生成区[浅色模式] .内容区 {
  background-color: #fff;
  color: black;
}
