:root {
  --中心标题动画持续时间: 0.4s;
}

body {
  min-height: 100vh;
}

.交互式概念中心 {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: calc(100vh - 65px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.中心标题 {
  margin: 0 auto;
  width: fit-content;
  font-size: 4rem;
  padding: 20px 0;
  letter-spacing: 10px;
}

.中心标题 > span {
  transform-style: preserve-3d;
  perspective: 800px;
  display: inline-block;
}

.中心标题 > span:nth-child(even) {
  transform: rotateX(90deg);
  animation: 中心标题动画-X var(--中心标题动画持续时间) ease-in forwards;
}

.中心标题 > span:nth-child(odd) {
  transform: rotateY(90deg);
  animation: 中心标题动画-Y var(--中心标题动画持续时间) ease-in forwards;
}

.中心标题 > span:nth-child(2) {
  animation-delay: var(--中心标题动画持续时间);
}
.中心标题 > span:nth-child(3) {
  animation-delay: calc(var(--中心标题动画持续时间) * 2);
}
.中心标题 > span:nth-child(4) {
  animation-delay: calc(var(--中心标题动画持续时间) * 3);
}
.中心标题 > span:nth-child(5) {
  animation-delay: calc(var(--中心标题动画持续时间) * 4);
}
.中心标题 > span:nth-child(6) {
  animation-delay: calc(var(--中心标题动画持续时间) * 5);
}
.中心标题 > span:nth-child(7) {
  animation-delay: calc(var(--中心标题动画持续时间) * 6);
}

@keyframes 中心标题动画-X {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0);
  }
}

@keyframes 中心标题动画-Y {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

.交互技术栈 {
  display: flex;
  justify-content: center;
}

.Web前端交互页 {
  width: 500px;
  height: 1000px;
  /* outline: solid 1px brown; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.Web前端交互页 > h1 {
  padding: 0 10px;
  color: gold;
}

.分割线 {
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

.Web前端交互列表 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.交互单项 {
  list-style-type: none;
}

.交互单项链接 {
  background: #275b51;
  border-radius: 100px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.交互单项链接:hover {
  cursor: pointer;
  outline: solid 2px rgb(172, 172, 172);
}

.交互单项链接:hover > .序号 {
  background-color: rgb(32, 32, 32);
  color: white;
}

.序号 {
  background-color: rgb(63, 164, 111);
  color: black;
  font-weight: bolder;
  aspect-ratio: 0.9;
  height: 60px;
  border-radius: 50px 2px 2px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  /* transition: 0.1s; */
}

.链接-图 {
  height: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.链接-图 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.链接-字 {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.链接-字-英文 {
  font-size: 0.9rem;
  color: rgb(203, 203, 203);
}
