body {
  min-height: 100vh;
}

.总区 {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(100vh - 50px);
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 130px;
  gap: 50px;
}

.交互标题 {
  position: absolute;
  width: fit-content;
  height: 100px;
  top: 0.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  color: white;
}
