.主体 {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
}

#绘图区 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (width < 1000px) {
  .主体 {
    height: calc(100vh - 120px);
  }
}
