.game-area {
  position: relative;
  height: calc(100vh - 150px);
  font-family: "JetBrains Mono", "Noto Sans SC", Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.汉诺塔区 {
  width: max(450px, calc(100% / 3 * 2));
  height: min(600px, 75%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.操作区 {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.操作分区 {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}

.操作分区:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.操作分区::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  transition: 125ms;
  opacity: 0;
  background-image: linear-gradient(90deg, #000 0%, transparent 50%, #000 100%);
  mask-image: linear-gradient(transparent 0%, black 50%);
}

.操作分区:hover::before {
  opacity: 0.25;
}

.操作分区.来源::before {
  background-image: linear-gradient(90deg, #fffc 0%, transparent 50%, #fffc 100%);
  opacity: 0.5;
}

.积木区 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.积木 {
  height: 35px;
  border-radius: 5px;
}

.操作分区:hover .积木:last-child {
  background-color: #fff5;
}

.支柱 {
  position: absolute;
  height: 75%;
  width: 25px;
  border-radius: 999px 999px 0 0;
  background-color: rgb(153, 126, 91);
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}

.底座 {
  width: 100%;
  height: 50px;
  background: center/cover no-repeat url("./Images/木质纹理.webp");
  border-radius: 0 0 10px 10px;
}

.按钮区 {
  display: flex;
  gap: 25px;
}

.按钮 {
  margin-top: 50px;
  width: 150px;
  height: 60px;
  border-radius: 999px;
  font-size: 18px;
  background-color: #0005;
  border: solid 2px #fff6;
  color: white;
  backdrop-filter: blur(10px);
  user-select: none;
}

.按钮:hover {
  background-color: #333;
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.按钮:active {
  background-color: #444;
}

.按钮.禁用 {
  border: solid 2px #0005;
  pointer-events: none;
  filter: brightness(25%);
}
