#game-container {
  /* background-color: blueviolet; */
  width: 100vw;
  margin: 50px auto 0;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

#game-board {
  /* border: solid 3px #000; */
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.25),
    -15px -15px 30px 0 rgba(0, 0, 0, 0.25),
    15px -15px 30px 0 rgba(0, 0, 0, 0.25), -15px 15px 30px 0 rgba(0, 0, 0, 0.25);
}

#game-info {
  /* background-color: rgb(61, 131, 107); */
  width: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#score {
  font-size: 5em;
  /* padding-bottom: 5%; */
}

#score > span {
  color: rgb(46, 187, 175);
  font-weight: bold;
  font-family: "Consolas";
}

#speed {
  margin-top: 10%;
  /* background-color: blue; */
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.slider {
  display: block;
  width: 300px;
  user-select: none;
}

.slider:hover {
  cursor: url(/Images/Common/鼠标-指向.png), pointer;
}

.slider::-webkit-slider-thumb {
  transform: scale(170%);
}

.slider:focus {
  outline: none;
}

#speed > p {
  width: 50%;
  font-size: 2em;
  color: gold;
}

#game-area {
  /* background-color: slategrey; */
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1200px) {
  #game-container {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 0;
  }

  #game-info {
    width: 100%;
    padding-right: 0;
    align-items: center;
  }

  #score {
    font-size: 2.5em;
  }

  #speed {
    align-items: center;
  }

  .slider {
    width: 75%;
  }

  #game-area {
    margin-top: 20px;
    justify-content: center;
  }

  #game-board {
    width: 340px;
    height: 340px;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
