html {
  scroll-behavior: smooth;
}

.fas,
.fa-classic,
.fa-solid,
.far,
.fa-regular {
  width: fit-content;
  text-align: center;
}

.top-banner .fa-solid {
  width: auto;
}

.主容器 {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse 150% 1500px at 50% -150px,
    rgb(53, 22, 114) 0%,
    rgb(22, 54, 114) 25%,
    #11151a 65%
  );
  font-family: var(--中文代码混合字体);
  padding-bottom: 100px;
}

.简介区 {
  position: relative;
  width: 100%;
  padding: 150px 0 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 2px #000a;
}

.简介区 > * {
  z-index: 1;
}

.简介区::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 250%;
  top: 0;
  left: 0;
  background: center/cover url("/Images/Background-Images/背景-04.png");
  filter: brightness(75%);
  mask-image: linear-gradient(#aaa 30%, transparent 55%);
}

.简介标题 {
  font-size: clamp(48px, 5vh, 100px);
}

.简介副标题 {
  color: rgb(211, 211, 211);
  font-weight: normal;
}

.技术栈区 {
  margin: 50px 0;
  display: flex;
  gap: 10px;
}

.技术栈 {
  width: 45px;
  height: 45px;
  border-radius: 999px;
  background-color: #123;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
}

.模块标题区 {
  width: 100%;
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 1px #000a;
}

.分区标题 {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: bold;
}

.分区标题描述 {
  font-size: clamp(14px, 1.75vw, 16px);
  color: rgb(201, 201, 201);
}

.主模块区 {
  position: relative;
  margin: 25px auto 0;
  width: clamp(750px, 55%, 2000px);
}

.主模块内容区 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto 100px;
}

.主模块 {
  position: relative;
  width: calc(50% - 50px);
  aspect-ratio: 1.5;
  border-radius: 10px;
  overflow: hidden;
  transition: 250ms;
}

.主模块::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 95px;
  bottom: 0;
  left: 0;
  translate: 0 100%;
  background-color: #0005;
  backdrop-filter: blur(8px);
  transition: 150ms;
}

.主模块:hover::before {
  translate: 0 0;
}

.主模块背景图容器 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.主模块背景图 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 500ms;
}

.主模块:hover .主模块背景图 {
  scale: 1.1;
}

.主模块标题 {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: clamp(20px, 1.5vw, 24px);
  text-wrap: nowrap;
  text-shadow: 2px 2px 2px #000a;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  transition: 250ms;
  z-index: 2;
}

.主模块:hover .主模块标题 {
  left: 50%;
  translate: -50% 0;
  align-items: center;
}

.主模块描述 {
  font-weight: normal;
  font-size: 0.75em;
  color: silver;
}

.数据区 {
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.数据分区 {
  position: relative;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
}

.数值 {
  color: gold;
  font-size: 65px;
}

.符号 {
  color: darkgoldenrod;
}

.数据描述 {
  color: silver;
  font-size: 24px;
}

.展示区 {
  position: relative;
  width: 100%;
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.展示区标题区 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.展示区标题 {
  font-size: clamp(24px, 2vw, 48px);
}

.展示区描述 {
  text-align: center;
  max-width: 75ch;
  font-size: clamp(16px, 1.75vw, 20px);
  color: rgb(166, 166, 166);
}

.展示区背景区 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.展示区图片容器 {
  width: 30%;
  height: 100%;
  outline: solid 1px #def3;
}

.展示区图片 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
