:root {
  --图像容器宽度: 1001px;
  --实际图像间距: 100px;
  --图像宽度: calc(var(--图像容器宽度) - var(--实际图像间距));
  --图像容器高度: calc(var(--图像宽度) * 9 / 16);
  --图像长廊分区高度: calc(var(--图像容器高度) + 150px);
  --图像移动时长: 350ms;
  --网站风格颜色: rgb(42, 151, 140);
  --分页渐变黑色标位置: 0.25%;
  --分页渐变透明色标位置: 0.25%;
  --光标-默认: url("/Images/Common/鼠标-默认.cur"), auto;
  --光标-手指: url("/Images/Common/鼠标-指向.cur"), pointer;
  --中文字体: "Noto Sans SC", 微软雅黑, sans-serif;
  --代码字体: "JetBrains Mono", Consolas, monospace;
  --中文代码混合字体: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑, monospace, sans-serif;
  --无衬线字体: "Inter", sans-serif;
}

.main-content {
  background-image: linear-gradient(60deg, #0d0f11 0%, #22272b 100%);
  position: relative;
  margin: 0 auto;
  padding-bottom: 200px;
  width: 100%;
  height: fit-content;
  font-family: var(--中文代码混合字体);
}

.背景渐变区 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.渐变分区 {
  width: 100%;
  height: max(100vh, 1500px);
  mask-image: radial-gradient(ellipse 150% 40% at center center, #000d 20%, #0005 50%, #0000);
}

.渐变分区:nth-child(1) {
  background: radial-gradient(circle at right center, #4b296980, #563277 25%, #4a378c 40%, #4066a8 65%, #32517380);
}

.渐变分区:nth-child(2) {
  background: radial-gradient(circle at right center, #25634e80, #2b4741 25%, #42421b 40%, #523926 65%, #733c3280);
}

.渐变分区:nth-child(3) {
  background: radial-gradient(circle at right center, #2c421e80, #254e3b 25%, #262f55 40%, #4b2b57 65%, #73323780);
}

.渐变分区:nth-child(4) {
  background: radial-gradient(circle at right center, #31588dbc, #362d8a 25%, #613d2b 40%, #5c2f39 65%, #7d8531bf);
}

.主页分区 {
  padding: 100px 0;
  position: relative;
}

.介绍分区 {
  position: relative;
  height: clamp(800px, 90vh, 1200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.背景修饰容器 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  mix-blend-mode: screen;
  mask-image: linear-gradient(0deg, transparent 0%, #0003 5%);
}

.背景修饰容器 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.介绍分区标题,
.介绍分区中文标题,
.介绍分区英文标题 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.介绍分区中文标题 {
  font-size: clamp(20px, 1.75vw, 40px);
}

.介绍分区英文标题 {
  font-size: clamp(12px, 1vw, 16px);
  font-family: "Inter", sans-serif;
  margin-top: 15px;
  color: rgb(160, 160, 160);
  gap: 5px;
}

.介绍分区英文标题 > :where(.介绍分区大标题, .介绍分区小标题) {
  font-weight: normal;
}

.介绍分区容器 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(100px, 5vh);
}

.介绍分区-工具 {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 13px;
  padding: 40px 0;
}

.工具-GitHub,
.工具-部署 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
}

.工具-GitHub {
  outline: solid 1px #fffa;
}

.GitHub介绍区 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GitHub介绍区 > span {
  padding: 5px 10px;
  height: 100%;
}

.GitHub介绍区:nth-child(1) > span:nth-child(1) {
  background-color: #fffa;
  color: black;
}

.GitHub介绍区:nth-child(1) > span:nth-child(2) {
  background-color: #0005;
}

.GitHub介绍区:nth-child(2) > span:nth-child(1) {
  background-color: #fffa;
  color: black;
}

.GitHub介绍区:nth-child(2) > span:nth-child(2) {
  background-color: #0005;
}

.工具-部署 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  outline: solid 1px #fffa;
}

.工具介绍区 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.工具介绍区 > span {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.工具-部署 > .工具介绍区:nth-child(1) {
  filter: invert(1);
}

.工具-部署 > .工具介绍区:nth-child(2) {
  background-color: #0005;
}

.工具-部署 > .工具介绍区:nth-child(3) {
  background-color: #bdf2;
}

.工具介绍区 img {
  object-fit: contain;
  width: 14px;
  height: 14px;
}

.介绍分区团队宗旨 {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.团队宗旨链接 {
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 18px;
  transition: 125ms;
}

.团队宗旨链接:nth-child(1) {
  background-color: lightblue;
  color: black;
  outline: solid 1px transparent;
}

.团队宗旨链接:nth-child(1):hover {
  background-color: rgb(44, 58, 95);
  color: white;
  outline: solid 1px silver;
}

.团队宗旨链接:nth-child(2) {
  border: solid 1px #999;
}

.团队宗旨链接:nth-child(2):hover {
  border: solid 1px #fff;
}

.交互式学习中心分区 {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --径向渐变发散距离 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.交互式学习中心容器 {
  position: relative;
  width: max(80%, 1000px);
  height: max(80vh, 800px);
  outline: solid 2px #def1;
  background-color: #ffffff05;
  background-image: radial-gradient(ellipse at 50% 8%, #def3 0%, transparent var(--径向渐变发散距离));
  padding: 2.5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background-color 250ms;
}

.交互式学习中心标题区 {
  width: 100%;
}

.交互式学习中心大标题 {
  position: relative;
  font-size: clamp(40px, 3vw, 100px);
  font-weight: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.交互式学习中心大标题 > a {
  position: relative;
  height: 100%;
  padding: 10px 0;
  color: white;
}

.交互式学习中心容器:has(a:hover) {
  --径向渐变发散距离: 100%;
  background-color: transparent;
  transition: --径向渐变发散距离 500ms cubic-bezier(0.1, 0.75, 0.2, 0.9);
}

.交互式学习中心小标题 {
  color: rgb(175, 175, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  font-weight: normal;
  font-size: 1.25em;
}

.交互式学习中心展示区 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.交互式学习中心展示分区 {
  position: relative;
  width: max(25%, 250px);
  height: 100%;
  background: center/cover no-repeat radial-gradient(circle at 50% 10%, #ffffff2a 5%, #ffffff07 90%);
  box-shadow: 4px 4px 10px 0 #0002;
  border-radius: 10px;
  overflow: hidden;
}

.展示分区背景 {
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.展示分区背景 > img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.展示分区内容 {
  position: absolute;
  width: 85%;
  height: 25%;
  left: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.展示分区标题 {
  font-size: 1.125em;
}

.展示分区描述 {
  font-size: 0.9em;
  color: rgb(160, 160, 160);
}

.博客分区 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.博客容器 {
  position: relative;
  width: max(100%, 1000px);
  height: max(90vh, 800px);
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.博客背景区 {
  position: absolute;
  height: 70%;
  aspect-ratio: 1;
  left: 50%;
  top: 47.5%;
  translate: 7.5% -50%;
}

.博客背景容器 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.博客背景容器 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.博客左区 {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: min(5vh, 100px);
}

.博客标题区 {
  padding: 0 25px;
}

.博客大标题 {
  font-size: clamp(35px, 4vw, 100px);
}

.博客小标题 {
  color: rgb(175, 175, 175);
  font-weight: normal;
  font-size: clamp(16px, 1.25vw, 50px);
}

.博客子分区容器 {
  display: flex;
  flex-direction: column;
}

.经验之谈子分区,
.知识库子分区 {
  display: flex;
  gap: 25px;
  padding: 50px 25px;
}

.经验之谈子分区:hover,
.知识库子分区:hover {
  background-color: #def1;
}

.博客子分区容器:has(.经验之谈子分区:hover, .知识库子分区:hover) .分割线 {
  opacity: 0;
}

.博客Logo容器 {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover no-repeat radial-gradient(circle at 50% 10%, #ffffff2a 5%, #ffffff10 80%);
}

.博客Logo容器 > img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.博客子分区内容 {
  width: 300px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.博客子分区标题 {
  font-size: 1.25em;
  transition: 250ms;
}

.博客子分区描述 {
  font-weight: normal;
  color: rgb(160, 160, 160);
}

.分割线 {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, transparent 0%, #fff1 5%, #fff3 40%, #fff3 60%, #fff1 95%, transparent 100%);
}

.博客右区 {
  position: relative;
  width: 35%;
  height: 100%;
}

.博客右区背景容器 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.博客右区背景容器 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.博客子分区:hover .博客子分区标题 {
  font-size: 1.5em;
}

.App和游戏容器 {
  position: relative;
  width: max(100%, 1000px);
  height: max(50vh, 800px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App和游戏导航区 {
  position: relative;
  width: clamp(250px, 17.5%, 300px);
  height: 100%;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  border-top: solid 1px #def2;
  border-bottom: solid 1px #def2;
  border-left: solid 1px #def2;
  border-right: solid 1px #def5;
}

@property --径向渐变原点垂直坐标 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 20%;
}

.App和游戏导航区背景 {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background-image: radial-gradient(ellipse at 50% var(--径向渐变原点垂直坐标), #bdf5 0%, #bdf1 100%);
  transition: 250ms, --径向渐变原点垂直坐标 250ms;
}

.App游戏和导航区:has(.App导航区):hover .App和游戏导航区背景 {
  --径向渐变原点垂直坐标: 20%;
}

.App游戏和导航区:has(.游戏导航区):hover .App和游戏导航区背景 {
  --径向渐变原点垂直坐标: 80%;
}

.App和游戏导航分区 {
  position: relative;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #bbddff06;
  transition: 250ms;
}

.App和游戏导航图像容器 {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App和游戏导航图像容器 > img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.App和游戏导航文本区 {
  height: 25%;
  border-top: solid 1px #def2;
  display: flex;
  flex-direction: column;
}

.App和游戏导航标题 {
  padding: 15px 20px 5px;
}

.App和游戏导航描述 {
  font-size: 0.9em;
  color: rgb(170, 170, 170);
  padding: 0 20px 20px;
}

.App和游戏范例区 {
  position: relative;
  width: clamp(800px, 60%, 1200px);
  height: 100%;
  border-right: solid 1px #def2;
  border-top: solid 1px #def2;
  border-bottom: solid 1px #def2;
  overflow: hidden;
}

.范例分区 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* translate: 100% 0; */
  clip-path: inset(50% 50% 50% 50%);
  pointer-events: none;
  transition: 250ms;
}

.范例分区.当前范例分区 {
  /* translate: 0 0; */
  clip-path: inset(0 0 0 0);
  pointer-events: all;
}

.范例链接 {
  position: relative;
  width: 50%;
  height: 50%;
  transition: 250ms;
}

.范例链接:hover {
  background-color: #fff2;
}

.范例链接::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(ellipse 100% 100% at 50% 50%, transparent 0%, #0005 75%, #000 100%);
}

.范例背景 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.范例背景 > img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.范例信息 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 25%;
  translate: -50% 0;
  padding: 0 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.范例标题 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.范例标题-下 {
  font-size: 0.8em;
  color: rgb(170, 170, 170);
  font-weight: normal;
  font-family: var(--无衬线字体);
}

.范例作者容器 {
  height: 60%;
  aspect-ratio: 1;
}

.范例作者容器 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.横线,
.竖线 {
  position: absolute;
}

.横线 {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  background-image: linear-gradient(90deg, transparent 15%, #fff3 45%, #fff3 55%, transparent 85%);
}

.竖线 {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  translate: -50% 0;
  background-image: linear-gradient(transparent 15%, #fff3 45%, #fff3 55%, transparent 85%);
}

.第三方教程与软件分区容器 {
  position: relative;
  width: max(100%, 1000px);
  height: max(90vh, 800px);
}

.容器背景 {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  filter: brightness(0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  mask-image: linear-gradient(transparent 2%, #0002 50%);
}

.容器背景 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.第三方教程与软件访问区 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.访问分区 {
  width: min(25%, 350px);
  height: min(75%, 650px);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(320deg, rgb(44, 52, 115) 10%, rgb(49, 68, 94) 100%);
  box-shadow: 10px 10px 10px 0 #0007;
  transition: 250ms;
}

.访问分区:hover {
  scale: 1.1;
  box-shadow: 0 0 30px 15px #0007;
}

.访问Logo容器 {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.访问Logo容器 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.三点区 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 12%;
}

.点 {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  background-color: rgb(214, 214, 214);
}

.访问信息区 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.访问标题 {
  padding: 0 15px 15px;
}

.访问描述 {
  padding: 0 10%;
  color: rgb(200, 200, 200);
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */

/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
