body {
  /* background-color: rgb(23, 26, 33); */
  background-image: radial-gradient(farthest-corner at 60% 500px, rgb(63, 69, 91) 0%, rgb(23, 26, 33) 45%);
}

.tutorials {
  max-width: 1920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-auto-rows: 530px; */
  grid-auto-rows: fit-content;
  /* grid-template-rows: 2fr; */
  gap: 50px 50px;
  margin: 150px auto;
  padding: 0 25px;
}

.tutorials .tutorial-card {
  /* background-color: #ffbc70; */
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.tutorials .tutorial-card .intro {
  /* background-color: rgb(5, 133, 90); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.intro > a {
  /* background-color: violet; */
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.intro > a:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: crimson; */
  width: 105%;
  aspect-ratio: 4/3;
  /* height: 66%; */
  border-radius: 15px;
  overflow: hidden;
}

.intro > a:nth-child(1):hover {
  transform: scale(1.05);
}

.intro > a:nth-child(1)::before {
  content: "";
  /* background-color: rgb(68, 130, 5); */
  background: conic-gradient(rgba(4, 176, 238, 0) 20deg, rgba(4, 176, 238, 1) 20deg, transparent 120deg),
    conic-gradient(rgba(238, 176, 4, 0) 200deg, rgba(238, 176, 4, 1) 200deg, transparent 300deg);
  width: 135%;
  height: 175%;
  position: absolute;
  top: -34%;
  left: -17.5%;
  z-index: -1;
  visibility: hidden;
}

.tutorials .tutorial-card a:nth-child(1):hover::before,
.intro:has(.card-text:hover) a:nth-child(1)::before {
  visibility: visible;
  animation: border-rotate 3s linear infinite;
}

@keyframes border-rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.tutorials .tutorial-card .intro .card-img {
  /* background-color: steelblue; */
  border-radius: 15px;
  width: 96%;
  height: 95%;
  object-fit: cover;
  margin: 10px 0;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.intro > a:nth-child(2) {
  /* background-color: slateblue; */
  width: 100%;
  max-height: 35%;
}

.tutorials .tutorial-card .intro .card-text {
  /* background-color: slateblue; */
  padding: 5px 10px;
  width: 100%;
  transition: 0.3s;
  text-align: justify;
  text-justify: inter-word;
}

.tutorials .tutorial-card .intro .card-text:hover {
  cursor: url(/Images/Common/鼠标-指向.cur), pointer;
  transform: scale(1.04);
  /* text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: #aaa; */
}

.tutorials .tutorial-card .intro .card-text .card-text-title {
  font-size: 1.2em;
  font-weight: bolder;
  color: #c97719;
  margin: 2px 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.number {
  background-image: linear-gradient(315deg, #727d81 0%, #a1a9b0 74%);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-size: 0.9rem;
  font-family: "Google Sans Code", monospace;
}

.detail i {
  font-size: 0.85em;
  color: silver;
}

.返回 {
  position: fixed;
  width: 100px;
  height: 50px;
  bottom: 25px;
  right: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  outline: solid 1.5px #fffa;
  background-color: #24345d;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.返回:hover {
  background-color: #3d5697;
}

/* -------------------------------- ↓ 响应式设计 ----------------------------------- */
@media screen and (max-width: 1200px) {
  .tutorials {
    max-width: 100%;
    gap: 50px 0;
    padding: 0;
    place-content: center;
    overflow: hidden;
  }

  .tutorial-card {
    width: 85%;
  }

  .intro > a:nth-child(1),
  .intro > a:nth-child(2) {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .返回 {
    right: 2%;
    width: 75px;
    height: 35px;
    font-size: 1.35rem;
  }
}

/* -------------------------------- ↑ 响应式设计 ----------------------------------- */
