span {
  text-wrap: nowrap;
}

.result-area {
  position: fixed;
  width: 500px;
  top: 75px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  clip-path: inset(-10% -10% -10% -10%);
  transition: 500ms;
}

.result-area.隐藏 {
  clip-path: inset(0 0 100% 0);
}

.总数据区 {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
}

.标题 {
  padding: 10px 15px;
  background-color: rgb(27, 50, 105, 0.75);
  color: lightcyan;
}

.数据容器 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  background-color: rgba(71, 96, 179, 0.75);
}

.子数据容器 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.数值 {
  height: 100%;
  padding: 0 2px;
  align-content: center;
  color: greenyellow;
}

.单位 {
  height: 100%;
  padding: 0 2px;
  align-content: center;
  color: lightgoldenrodyellow;
}

.总用时区,
.总点击次数区 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  outline: solid 2px #fffa;
  overflow: hidden;
}

.独立数据区域组 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #0003;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px 0 #0007;
  overflow: hidden;
}

.独立数据容器 {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 1px 1px 1px #0007;
}

.独立数据容器 > * {
  flex-shrink: 0;
}

.独立数据区,
.独立用时区,
.独立点击次数区 {
  display: flex;
  align-items: center;
  height: 40px;
}

.独立数据区 {
  border-radius: 999px;
  overflow: hidden;
  border: solid 2px #fff5;
  backdrop-filter: blur(10px);
  font-size: 0.9em;
}

.独立数据区 :where(.标题, .数据容器) {
  height: 100%;
}

.独立数据区 .标题 {
  text-align: center;
  align-content: center;
  background-color: #def3;
  padding: 0 15px;
}

.独立数据区 .数据容器 {
  background-color: #0121;
}

.独立数据区 .独立用时数据容器 {
  width: 120px;
  justify-content: flex-start;
}

.独立数据区 .独立点击次数容器 {
  width: 15px;
}

.独立序号 {
  text-align: center;
  align-content: center;
  border-radius: 5px;
  background-color: #222;
  width: 25px;
  height: 25px;
  font-size: 14px;
  color: lightgoldenrodyellow;
}

.横线 {
  width: 10px;
  height: 1px;
  background-color: lightcyan;
}

.炸弹图容器 {
  width: 40px;
  height: 40px;
}

.炸弹图 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-area {
  position: relative;
  height: calc(100vh - 150px);
  font-family: "JetBrains Mono", "Noto Sans SC", Consolas, monospace;
}

.rule-area {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.规则分区 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.setup-area {
  position: fixed;
  bottom: 25px;
  left: 50%;
  translate: -50% 0;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 999px;
  background-color: #fff1;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 2px 2px 0 #fff8, 3px 3px 6px 0 #0007;
}

.button {
  box-shadow: 2px 2px 4px #000a;
  border-radius: 999px;
}

.button:hover {
  filter: brightness(1.15);
}

.button:active {
  filter: brightness(1.3);
}

#start {
  width: 75px;
  height: 75px;
  font-size: 18px;
  background: center/contain no-repeat url("./Images/play.png");
  color: white;
  box-shadow: inset 0 2px 2px 0 #fff3, 2px 2px 2px 0 #0007;
}

.滑块标签 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.标签标题 {
  color: gold;
}

.滑块 {
  accent-color: #969caa;
  width: 150px;
}

.滑块::-webkit-slider-thumb {
  scale: 1.5;
}

.标签数据 {
  font-family: "JetBrains Mono", "Noto Sans SC", Consolas, monospace;
  display: flex;
  align-items: center;
}

label[for="提示时长"] .标签数据 {
  width: 58px;
}

label[for="炸弹数量"] .标签数据 {
  width: 20px;
}

.数据值 {
  text-align: right;
  color: lightcyan;
}

.数据单位 {
  margin-left: 3px;
  color: silver;
}

.标签:hover,
.标签 input:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.提示 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: center/contain no-repeat url("./Images/炸弹.png");
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  opacity: 0;
}

.提示.半隐 {
  opacity: 0.25;
}

.提示序号 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: Consolas, monospace;
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: -35px;
  left: 50%;
  translate: -50% 0;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #111;
  text-align: center;
  align-content: center;
}

.已确认 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 66%;
  height: 66%;
  background: center/contain no-repeat url("./Images/已确认.png");
  pointer-events: none;
  filter: drop-shadow(2px 2px 4px #000a);
}

.已确认.隐藏 {
  opacity: 0;
}
