@font-face {
  font-family: HarmonyOS Sans SC;
  src: url(/Fonts/HarmonyOS_Sans_SC_Regular.ttf);
}

@font-face {
  font-family: 霞鹜文楷;
  src: url(/Fonts/LXGWWenKai-Regular.ttf);
}

:root {
  --bg-color: rgb(14, 15, 16);
  --f-color: #eeeeee;
  --top-banner-color: #9e2a2b;
  --contributers-bg-color: #183656;
  --name: #c97719;
  --hover-link: #222f33;
  --shadow-color: #101010;
}

*,
*::before,
*::after {
  font-family: "HarmonyOS Sans SC", sans-serif, "Noto Sans Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--bg-color);
  color: var(--f-color);
  z-index: 0;
  cursor: url("/Images/Common/鼠标-默认.png"), auto;
  /* padding-bottom: 150px; */
}

a {
  text-decoration: none;
}

a:link {
  color: aliceblue;
}

button:hover,
a:hover {
  cursor: url(/Images/Common/鼠标-指向.png), pointer !important;
}

a:visited {
  color: aliceblue;
}

li {
  list-style: none;
}

li > a > i {
  transform: rotateZ(90deg);
  transition: 0.25s;
}

footer {
  /* position: absolute; */
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: rgba(10, 10, 10, 0.75);
  /* background-color: rgba(77, 129, 125, 0.75); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

footer > .author > p:nth-child(3) > a {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 0.15s;
}

footer > .author > p:nth-child(3):hover > a {
  color: #c97719;
}

address {
  display: flex;
  align-items: center;
  gap: 25px;
  font-style: normal;
}

.address {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.address > span:hover,
.address > img:hover {
  animation: 底栏链接动画 0.5s ease-in-out infinite alternate;
}

@keyframes 底栏链接动画 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.125);
  }
}

.address > img {
  height: 1.5rem;
  filter: grayscale(1) brightness(2.5);
}
