:root {
  --image-width: 960px;
  --image-gap: 150px;
  --image-count: 10;
  --gallery-width: 100vw;
  --edge-width: calc((var(--gallery-width) - var(--image-width)) / 2);
  --slider-width: calc(
    var(--image-width) * var(--image-count) + var(--image-gap) *
      (var(--image-count) - 1)
  );
}

body {
  position: relative;
}

body::before {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: url(/Images/Contributers/Contributor-Page-Bg.webp);
  background-size: contain;
  filter: opacity(0.1);
  position: absolute;
}

/* .logo-container {
  width: 150px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.logo-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: logo-rotate linear 5s infinite;
} */

.contributors {
  /* background-color: blueviolet; */
  min-height: 100dvh;
  width: 100%;
  margin: 200px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contributor {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.portrait-container {
  height: 75%;
  aspect-ratio: 1 !important;
  overflow: hidden;
  border-radius: 500px;
  /* filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.75)); */
}

.portrait-container > img {
  width: 250%;
  height: 250%;
  object-fit: cover;
  object-position: -110px -50px;
}

.brief {
  height: 75%;
  width: 40%;
  /* background-color: rgb(15, 85, 85); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brief-head {
  font-size: 3rem;
  color: goldenrod;
}

.dash {
  color: skyblue;
}

.name {
  color: rgb(255, 71, 46);
  font-family: 仿宋;
  /* font-style: italic; */
  font-weight: bold;
}

.brief-body {
  font-size: 1.5rem;
  color: whitesmoke;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1300px) {
  .contributor {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .portrait-container {
    height: 50%;
  }

  .brief {
    width: 90%;
    height: 50%;
    justify-content: flex-start;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
