body {
  position: relative;
}

.games-navigator {
  margin: 20px auto;
  min-height: 100vh;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 2px 2px;
}

.game-grid {
  border-radius: 10px;
  /* border: solid 2px rgb(15, 15, 15); */
  margin: 3px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.game-grid:hover {
  transform: scale(1.15);
  z-index: 1;
  cursor: pointer;
  box-shadow: 2px 2px 10px 0 #000, -2px -2px 10px 0 #000;
}

.game-grid > a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.game-grid > a > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .game-grid:hover > a > img {
  transform: scale(1.1);
} */

.game-grid > a > p {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0 rgba(20, 20, 20, 0.75);
  width: clamp(50%, 60%, 100%);
  height: 2.2em;
  border-radius: 50px;
  font-size: clamp(1em, 1.25em, 1.5em);
  text-align: center;
  line-height: 2.2em;
  color: rgb(255, 255, 255);
  position: relative;
  /* z-index: 0; */
  margin: 0 10px 10px 0;
  backdrop-filter: blur(3px);
  transition: 0.25s;
}

.game-grid > a > p:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.game-1 {
  /* background-color: rgb(0, 255, 255); */
  grid-area: 1 / 1 / 8 / 3;
}
.game-2 {
  background-color: cadetblue;
  grid-area: 1 / 3 / 4 / 6;
}
.game-3 {
  background-color: goldenrod;
  grid-area: 4 / 3 / 8 / 5;
}
.game-4 {
  background-color: yellowgreen;
  grid-area: 4 / 5 / 8 / 6;
}
.game-5 {
  background-color: violet;
  grid-area: 1 / 6 / 7 / 8;
}
.game-6 {
  background-color: tomato;
  grid-area: 7 / 6 / 9 / 8;
}
.game-7 {
  background-color: thistle;
  grid-area: 1 / 8 / 5 / 10;
}
.game-8 {
  background-color: chartreuse;
  grid-area: 1 / 10 / 8 / 11;
}
.game-9 {
  background-color: chocolate;
  grid-area: 5 / 8 / 12 / 10;
}
.game-10 {
  background-color: cornflowerblue;
  grid-area: 8 / 1 / 14 / 2;
}
.game-11 {
  background-color: darkblue;
  grid-area: 8 / 2 / 12 / 4;
}
.game-12 {
  background-color: crimson;
  grid-area: 12 / 2 / 15 / 5;
}
.game-13 {
  background-color: darkmagenta;
  grid-area: 8 / 4 / 12 / 6;
}
.game-14 {
  background-color: rgb(44, 88, 90);
  grid-area: 14 / 1 / 18 / 2;
}
.game-15 {
  background-color: blueviolet;
  grid-area: 18 / 1 / 21 / 3;
}
.game-16 {
  background-color: slategrey;
  grid-area: 15 / 2 / 18 / 5;
}
.game-17 {
  background-color: skyblue;
  grid-area: 18 / 3 / 21 / 5;
}
.game-18 {
  background-color: rosybrown;
  grid-area: 9 / 6 / 12 / 8;
}
.game-19 {
  background-color: rgb(11, 66, 102);
  grid-area: 8 / 10 / 11 / 11;
}
.game-20 {
  background-color: royalblue;
  grid-area: 12 / 5 / 21 / 7;
}
.game-21 {
  background-color: rgb(16, 67, 70);
  grid-area: 18 / 7 / 21 / 9;
}
.game-22 {
  background-color: darkmagenta;
  grid-area: 12 / 7 / 18 / 10;
}
.game-23 {
  background-color: rgb(107, 189, 134);
  grid-area: 11 / 10 / 21 / 11;
}
.game-24 {
  background-color: rgb(179, 128, 51);
  grid-area: 18 / 9 / 21 / 10;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1000px) {
  .games-navigator {
    width: 98%;
    min-height: 500vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(50, 1fr);
    column-gap: 0;
    row-gap: 0;
  }

  .game-1 {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .game-2 {
    background-color: cadetblue;
    grid-area: 3 / 1 / span 2 / span 2;
  }
  .game-3 {
    background-color: goldenrod;
    grid-area: 5 / 1 / span 2 / span 2;
  }
  .game-4 {
    background-color: yellowgreen;
    grid-area: 7 / 1 / span 2 / span 2;
  }
  .game-5 {
    background-color: violet;
    grid-area: 9 / 1 / span 2 / span 2;
  }
  .game-6 {
    background-color: tomato;
    grid-area: 11 / 1 / span 2 / span 2;
  }
  .game-7 {
    background-color: thistle;
    grid-area: 13 / 1 / span 2 / span 2;
  }
  .game-8 {
    background-color: chartreuse;
    grid-area: 15 / 1 / span 2 / span 2;
  }
  .game-9 {
    background-color: chocolate;
    grid-area: 17 / 1 / span 2 / span 2;
  }
  .game-10 {
    background-color: cornflowerblue;
    grid-area: 19 / 1 / span 2 / span 2;
  }
  .game-11 {
    background-color: darkblue;
    grid-area: 21 / 1 / span 2 / span 2;
  }
  .game-12 {
    background-color: crimson;
    grid-area: 23 / 1 / span 2 / span 2;
  }
  .game-13 {
    background-color: darkmagenta;
    grid-area: 25 / 1 / span 2 / span 2;
  }
  .game-14 {
    background-color: rgb(44, 88, 90);
    grid-area: 27 / 1 / span 2 / span 2;
  }
  .game-15 {
    background-color: blueviolet;
    grid-area: 29 / 1 / span 2 / span 2;
  }
  .game-16 {
    background-color: slategrey;
    grid-area: 31 / 1 / span 2 / span 2;
  }
  .game-17 {
    background-color: skyblue;
    grid-area: 33 / 1 / span 2 / span 2;
  }
  .game-18 {
    background-color: rosybrown;
    grid-area: 35 / 1 / span 2 / span 2;
  }
  .game-19 {
    background-color: rgb(11, 66, 102);
    grid-area: 37 / 1 / span 2 / span 2;
  }
  .game-20 {
    background-color: royalblue;
    grid-area: 39 / 1 / span 2 / span 2;
  }
  .game-21 {
    background-color: rgb(16, 67, 70);
    grid-area: 41 / 1 / span 2 / span 2;
  }
  .game-22 {
    background-color: darkmagenta;
    grid-area: 43 / 1 / span 2 / span 2;
  }
  .game-23 {
    background-color: rgb(107, 189, 134);
    grid-area: 45 / 1 / span 2 / span 2;
  }
  .game-24 {
    background-color: rgb(179, 128, 51);
    grid-area: 47 / 1 / span 2 / span 2;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
