/* body {
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(86, 116, 137) 35%,
    rgb(89, 126, 156) 100%
  );
} */

.main-content {
  position: relative;
  margin: 0 auto;
}

/* <!-- ------------------ ↓ 欢迎内容 ------------------- --> */
.welcome-main {
  /* background-color: #033369; */
  width: 100%;
  height: 100vh;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
  padding: 0 0 calc(5% + 65px) 0;
}

.section-bg-img {
  /* background-color: violet; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.section-bg-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-main > .section-bg-img > img {
  filter: brightness(75%);
}

.intro-section > .section-bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, #000 0%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
}

.logo-section {
  /* background-color: cornflowerblue; */
  width: 750px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: solid 1px rgb(138, 138, 138); */
  position: relative;
}

#eternal-title-text {
  width: 200px;
  height: 100px;
  /* background-color: cornflowerblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

#永,
#恒 {
  width: 45%;
  height: 100%;
  overflow: hidden;
  filter: drop-shadow(5px 5px 5px #000);
}

#永 > img,
#恒 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  /* filter: brightness(0.9) invert(0.5) sepia(0.5) hue-rotate(110deg)
    saturate(500%); */
}

#永 > img {
  -webkit-mask-image: url(/Images/Index-Images/永.png);
  mask-image: url(/Images/Index-Images/永.png);
}

#恒 > img {
  -webkit-mask-image: url(/Images/Index-Images/恒.png);
  mask-image: url(/Images/Index-Images/恒.png);
}

.logo-title {
  font-size: clamp(1.5em, 1.8em, 2em);
  font-weight: 600;
  padding: 10px 0 50px;
  /* filter: drop-shadow(0px 0px 1px #fffc) drop-shadow(-0px -0px 1px #fffc); */
  font-family: "Ma Shan Zheng", cursive;
  background-image: url(/Images/Index-Images/Motto-Gif-03.gif);
  background-size: 100%;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: brightness(2) drop-shadow(0 0 1px #222);
}

.logo-brief {
  /* color: #aaa; */
  padding: 20px 100px;
  display: grid;
  gap: 0 60px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.logo-brief-bg {
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: -1;
  left: -10%;
  top: -5%;
  transform: scaleX(120%);
}

.logo-brief-bg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-brief-individual {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.25rem;
  filter: drop-shadow(2px 2px 2px #333);
  /* color:rgb(227, 135, 126) */
}

.logo-brief-individual > img {
  height: 1.5rem;
  aspect-ratio: 0.85;
  object-fit: contain;
}

.motto {
  font-size: 1rem;
  color: #ccc;
}

.checked {
  color: rgb(42, 207, 111);
  transform: scale(1.1);
}

.link-section {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-auto-rows: 190px;
  justify-content: center;
  gap: 50px 0;
  /* border-top: solid 1px rgb(196, 196, 196); */
}

.link {
  display: block;
  position: relative;
  /* background-color: blueviolet; */
}

.link-image {
  margin: 0 auto;
  width: 100px;
  height: 150px;
  transition: 0.25s;
}

.link-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.宗旨 img {
  filter: grayscale(1) brightness(5);
}

.link-title {
  margin: 0 auto;
  border-radius: 100px;
  width: fit-content;
  width: -moz-fit-content;
  background: linear-gradient(-40deg, #222 15%, #31313190 95%);
  background-size: 200%;
  text-align: center;
  color: white;
  padding: 10px 20px;
  box-shadow: inset 0 1px 1px 0 #fff6;
  transition: box-shadow 0.4s, color 0.05s, background-position 0.4s;
  font-size: 0.9rem;
}

.link:hover .link-image {
  transform: scale(1.1);
  animation: 链接图阴影动画 2s ease-in-out infinite alternate;
}

@keyframes 链接图阴影动画 {
  from {
    filter: drop-shadow(1px 1px 5px black);
  }
  to {
    filter: drop-shadow(5px 5px 15px white);
  }
}

.link:hover .link-title {
  background-position: 100% 0;
  box-shadow: inset 0 1px 3px 0 #fff9;
  color: gold;
  /* font-weight: bolder; */
}

.未完成链接::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-shadow: 2px 2px 2px black;
  content: "未完成";
  visibility: hidden;
  transform: scale(0.75);
  opacity: 0;
  transition: 0.25s;
  pointer-events: none;
}

.未完成链接:hover::after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.未完成 {
  filter: brightness(25%);
}
/* <!-- ------------------ ↑ 欢迎内容 ------------------- --> */

/* <!-- ------------------ ↓ 游戏区 ------------------- --> */
.game-section {
  /* background-color: #033369; */
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-section > .section-bg-img {
  transform: rotateY(180deg);
}

.game-title {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}

.game-title-main {
  display: block;
  position: relative;
  width: 600px;
  height: 400px;
  transition: 0.25s;
  /* background-color: rgb(47, 74, 19); */
}

.game-title-main:hover {
  filter: hue-rotate(180deg);
}

.game-title-main:hover > .gamer-banner > img {
  animation-play-state: paused;
}

.game-title-main > p,
.game-title-main > .gamer-banner {
  display: inline-block;
  position: absolute;
  text-shadow: 2px 2px 15px #000;
}

.游 {
  font-size: 15rem;
  line-height: 15rem;
  font-weight: bold;
  top: 0%;
  left: 5%;
  color: seagreen;
  transition: 0.25s;
}

.game-title-main:hover > .游 {
  top: 4%;
}

.戏 {
  font-size: 10rem;
  line-height: 10rem;
  font-weight: 200;
  top: 50%;
  left: 40%;
  color: rgb(234, 161, 72);
  transition: 0.25s;
}

.game-title-main:hover > .戏 {
  top: 46%;
}

.游戏分割线 {
  width: 550px;
  height: 5px;
  background-color: rgb(231, 231, 231);
  top: 60%;
  left: 0;
  z-index: 0;
  box-shadow: 1px 1px 5px 0 #000;
}

.gamer-banner {
  height: 10rem;
  width: 20rem;
  /* overflow: hidden; */
  left: 45%;
  top: 20%;
  filter: drop-shadow(3px 3px 10px #000);
  position: relative;
}

.gamer-banner > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(5px 5px 15px #000);
}

.gamer-banner > img:nth-child(1) {
  animation: 玩家Logo交换 4s linear infinite;
}

.gamer-banner > img:nth-child(2) {
  filter: opacity(0);
  animation: 玩家Logo交换 4s linear 2s infinite;
}

@keyframes 玩家Logo交换 {
  from {
    transform: translate(0, 0) scale(0.75);
    filter: opacity(0);
    /* z-index: 1; */
    /* filter: opacity(1); */
  }
  50% {
    transform: translate(25px, -25px) scale(1);
    filter: opacity(1);
    /* z-index: 1; */
  }
  65% {
    filter: opacity(0);
  }
  to {
    transform: translate(50px, -50px) scale(1.25);
    filter: opacity(0);
    /* z-index: 0; */
  }
}

.game-history {
  width: 500px;
  border-left: solid 2px white;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: darkcyan; */
}

.game-history > h1 {
  color: goldenrod;
}

.game-history > p {
  color: rgb(240, 240, 240);
  text-shadow: 2px 2px 2px #000;
  text-align: justify;
  text-justify: inter-word;
}

.game-type {
  width: 800px;
  height: 700px;
  display: grid;
  place-content: flex-start center;
  grid-template-columns: repeat(5, 100px);
  grid-auto-rows: 150px;
  gap: 50px;
  /* background-color: cadetblue; */
}

.game-type-example {
  filter: drop-shadow(5px 5px 10px #000);
  transition: 0.25s;
}

.game-type-example:hover {
  transform: perspective(400px) rotateX(25deg);
}

.game-example-image {
  height: 66%;
  width: 100%;
  overflow: hidden;
  background-color: tan;
}

.game-example-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.game-name {
  height: 34%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-image: linear-gradient(
      90deg,
      rgba(36, 36, 36, 0.5),
      rgba(255, 176, 131, 0.5)
    ),
    url(/Images/Index-Images/火焰燃烧.gif); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 55% 100%, 45% 100%, 0 50%);
}

.game-type-example:nth-child(even) > .game-name {
  background-image: url(/Images/Index-Images/火焰燃烧.gif);
}

.game-type-example:nth-child(odd) > .game-name {
  background-image: url(/Images/Index-Images/雪花飘舞.gif);
}

.game-name > span {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-shadow: 1px 1px 1px #000;
  color: white;
  vertical-align: middle;
  padding: 5px 10px 6px;
  background: linear-gradient(
    280deg,
    rgba(248, 81, 100, 0.75),
    rgba(95, 150, 190, 0.75)
  );
  /* border-radius: 50px; */
}

.图像长廊区 {
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover
    url(/Images/Background-Images/Abstract-02.webp);
}

.图像长廊分区 {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0.5%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 99.5%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0.5%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 99.5%
  );
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
}

.图像长廊分区 > .箭头 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  border-radius: 50px;
  background: linear-gradient(135deg, #ddd, #999);
  /* outline: solid 2px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: box-shadow 0.2s;
}

.图像长廊分区 > .箭头:hover {
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 white;
}

.图像长廊分区 > .箭头:hover > img {
  filter: saturate(2.5);
}

.图像长廊分区 > .箭头 > img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: 0.2s;
}

.图像长廊分区 > .左箭头 {
  left: 50%;
  transform: translateX(calc(-50% - 400px)) translateY(-50%);
}

.图像长廊分区 > .右箭头 {
  right: 50%;
  transform: translateX(calc(50% + 400px)) translateY(-50%);
}

.图像滑块组 {
  width: calc(24000px + 200px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 50px; */
  position: relative;
  transform: translateX(400px);
  transition: transform 350ms ease-out;
}

.图像滑块 {
  height: 100%;
  width: 8000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.图像容器 {
  height: 100%;
  width: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.图像容器 > img {
  height: 100%;
  width: 700px;
  border-radius: 3px;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  /* outline: solid 2px gray; */
}
/* <!-- ------------------ ↑ 游戏区 ------------------- --> */

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1000px) {
  .welcome-main {
    justify-content: center;
    gap: 25px;
  }

  .logo-section {
    /* background-color: rgb(80, 84, 2); */
    /* clip-path: inset(0); */
    width: 100%;
    border-bottom: none;
    height: 25%;
  }

  .logo-brief {
    display: none;
  }

  #eternal-title-text {
    aspect-ratio: 1;
    height: 100%;
  }

  .link-section {
    height: 100%;
    width: 100%;
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    gap: 25px 0;
  }

  .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
  }

  .link-image {
    width: 20%;
    height: 80%;
    margin: 0;
  }

  .link-title {
    width: 120px;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game-section {
    flex-direction: column;
    gap: 10px;
    height: 100vh;
  }

  .game-title {
    width: 100%;
    height: 200px;
    gap: 0;
    transform: translateY(-10%);
    align-items: center;
  }

  .game-title-main {
    transform: scale(0.5);
    height: 400px;
  }

  .游 {
    top: -60%;
  }

  .game-title-main:hover > .游 {
    top: -50%;
  }

  .戏 {
    top: 40%;
  }

  .game-title-main:hover > .戏 {
    top: 30%;
  }

  .gamer-banner {
    top: -20%;
  }

  .game-history {
    display: none;
  }

  .game-type {
    width: 75vw;
    /* transform: translateY(-30%); */
    margin: 0 auto;
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 115px;
    gap: 20px 40px;
  }

  .game-name > span {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 900px) {
  .图像长廊分区 > .左箭头 {
    left: 2.5%;
    transform: translateX(0) translateY(-50%);
  }

  .图像长廊分区 > .右箭头 {
    right: 2.5%;
    transform: translateX(0) translateY(-50%);
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
