.main-content {
  position: relative;
  margin: 0 auto;
}

/* <!-- ------------------ ↓ 欢迎内容 ----------------------- --> */
.welcome-main {
  /* background-color: #033369; */
  width: 100%;
  height: 100vh;
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.welcome-main > .section-bg-img > img {
  filter: contrast(1.2) blur(3px) grayscale();
}

.section-bg-img {
  /* background-color: violet; */
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.section-bg-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-main > .section-bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #000 35%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-main > #welcome-left {
  /* background-color: #5b42f3; */
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  transform: translateY(-5%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-img {
  /* background-color: #ead116; */
  min-width: 40%;
  height: 65%;
  border-radius: 30px;
  overflow: hidden;
  transform: translateX(10%);
  clip-path: polygon(0% 0%, 70% 0%, 100% 30%, 100% 80%, 90% 100%, 0% 100%);
}

#welcome-img > img {
  /* background-color: #00ddeb; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(1.2);
}

#welcome-img::after {
  /* background-color: #096a71; */
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 5%);
  position: absolute;
  top: 0;
  left: 0;
}

#welcome-img:hover::after {
  white-space: pre;
  animation: show-author 5s linear 1s;
  color: #999;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@keyframes show-author {
  from {
    content: "Create by George Redhawk \A https://teescrevi.wordpress.com/";
  }
  to {
    content: "Create by George Redhawk \A https://teescrevi.wordpress.com/";
  }
}

.welcome-main > #welcome-right {
  /* background-color: #af40ff; */
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transform: translateY(-15%); */
}

.welcome-main > #welcome-right > #welcome-text {
  width: 100%;
  height: 50%;
  /* background-color: #660ca5; */
  text-align: left;
  padding: 0 0 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
}

.welcome-main > #welcome-right > #welcome-text > p {
  /* background-color: darkcyan; */
  margin: 0 0 5px 0;
}

.welcome-main > #welcome-right > #welcome-text > p > span {
  color: gold;
  font-size: 1.1em;
}

.welcome-main > #welcome-right > #welcome-text > p:nth-child(1) {
  display: inline-block;
  color: rgb(255, 255, 255);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    #099715 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  ); */
  color: #95e1ff;
  font-size: 1.5em;
  font-weight: bolder;
  /* border-bottom: solid 1px #2fe141; */
  /* margin: 10px 0 0px 0; */
}

.welcome-main > #welcome-right > #welcome-text > p:nth-child(2) {
  /* background: linear-gradient(
    45deg,
    #f18f43 42%,
    #ffffff 42%,
    #ffffff 48%,
    #ffff71 48%,
    #ffff71 57%,
    #2663d3 57%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */

  font-size: 5em;
  font-weight: bolder;
  color: cadetblue;
  text-shadow: 1px 1px 5px #111;
  /* margin: 100px 0 10px 0; */
}

.welcome-main > #welcome-right > #welcome-text > p:nth-child(3) {
  /* background-color: cadetblue; */
  color: rgb(255, 255, 255);
  margin: 20px 0 0 0;
  min-width: 200px;
  max-width: 600px;
}

#welcome-buttons {
  /* background-color: #e16541; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: start;
  padding: 70px 0 0 50px;
}

#welcome-buttons > a {
  /* background-color: #4cacec; */
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
  margin: 0 5% 0 0;
  outline: #bbb solid 3px;
}

#welcome-buttons > a:hover {
  /* flex: 0.07 1 auto; */
  transform: scale(1.15);
  outline: #fff solid 5px;
}

#welcome-buttons > a > button {
  margin: 0 auto;
  display: block;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #fff;
  font-size: 1.25em;
  line-height: 1em;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#welcome-buttons > a:hover > button {
  filter: hue-rotate(-150deg);
}
/* <!-- ------------------ ↑ 欢迎内容 ----------------------- --> */

/* <!-- ------------------ ↓ 学习技巧翻转卡片 ----------------------- --> */
#art-image-shape-banner {
  /* background-color: #ffca1c; */
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5% 0;
}

#art-image-shape-banner > .section-bg-img > img {
  filter: brightness(50%);
}

.img-cards {
  /* background-color: darkcyan; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-card-outer-layer {
  background-color: transparent;
  width: 22%;
  aspect-ratio: 1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 15px;
}

.img-card-inner-layer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.img-card-outer-layer:hover .img-card-inner-layer {
  transform: rotateY(180deg);
}

.image-content,
.hint-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.image-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.image-content {
  /* background-color: #bbb; */
  color: black;
}

.arrow-down {
  position: absolute;
  transform: translateY(100%);
  left: 45%;
  width: 10%;
  height: 10%;
  overflow: hidden;
  animation: arrow-up-and-down 0.25s ease-in-out infinite alternate;
}

.arrow-down > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 50%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  filter: brightness(3);
}

@keyframes arrow-up-and-down {
  from {
    top: -35%;
  }
  to {
    top: -30%;
  }
}

.hint-content {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  padding: 80px 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.hint-content > .hint-title {
  font-size: 2em;
  font-weight: bolder;
  color: gold;
}

.hint-content > .hint-text {
  /* background-color: #033369; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hint-text > ul > li {
  list-style: none;
  padding-left: 0.5em;
}

.hint-text li::marker {
  content: "→";
}

.hint-content > .hint-text p {
  font-size: 1.2em;
  margin: 15px 0 0 0;
  transition: 0.3s;
  text-align: left;
}

.hint-content > .hint-text p:hover > a {
  color: cornflowerblue;
}

.hint-content > .opacity-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: dodgerblue;
  z-index: -1;
  opacity: 15%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 15px;
}

.img-cards-words {
  /* background-color: tomato; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 9%;
}

.img-cards-words > p {
  font-size: 4em;
  color: goldenrod;
  transition: 0.75s;
}

.img-cards-words > p:nth-child(1) {
  transform: translateX(-100%);
  filter: opacity(0);
}

.img-cards-words > p:nth-child(2) {
  transform: translateX(100%);
  filter: opacity(0);
}
/* <!-- ------------------ ↑ 学习技巧翻转卡片 ----------------------- --> */

/* <!-- ------------------ ↓ 主页介绍 ----------------------- --> */
.intro-section {
  /* background-color: #00ddeb; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.intro-gif-container {
  /* background-color: #5b42f3; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.intro-gif {
  /* position: absolute; */
  margin: -5% 0;
  aspect-ratio: 4 / 2.9;
  overflow: hidden;
  border-radius: 15px;
  filter: opacity(75%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: 1s;
  box-shadow: -3px -3px 10px 0 #000;
}

.intro-gif-container > .intro-gif:nth-child(1),
.intro-gif-container > .intro-gif:nth-child(7){
  width: 30%;
}

.intro-gif-container > .intro-gif:nth-child(2),
.intro-gif-container > .intro-gif:nth-child(6){
  width: 33%;
}

.intro-gif-container > .intro-gif:nth-child(3),
.intro-gif-container > .intro-gif:nth-child(5){
  width: 36.2%;
}

.intro-gif-container > .intro-gif:nth-child(4) {
  box-shadow: -3px -3px 10px 0 rgba(0, 0, 0, 0.5),
    3px 3px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 40%;
}

.intro-gif-container > .intro-gif:nth-child(5) {
  z-index: 2;
}

.intro-gif-container > .intro-gif:nth-child(6) {
  z-index: 1;
}

.intro-gif > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-content-container {
  /* background-color: yellow; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-title {
  /* background-color: cadetblue; */
  padding-left: 22%;
  font-size: 4em;
  color: goldenrod;
}

.intro-title > p {
  transition: 0.75s;
}

.intro-title > p:nth-child(1) {
  transform: translateY(-200%);
  filter: opacity(0);
}

.intro-title > p:nth-child(2) {
  transform: translateY(200%);
  filter: opacity(0);
}
/* <!-- ------------------ ↑ 主页介绍 ----------------------- --> */

@media screen and (max-width: 1024px) {
  .welcome-main {
    flex-direction: column;
  }

  #welcome-left {
    display: none;
  }

  #welcome-img {
    display: none;
  }

  #welcome-img > img {
    height: 0;
    display: none;
  }

  #welcome-right {
    /* background-color: darkgoldenrod; */
    width: 100%;
    min-height: 70%;
  }

  #welcome-text {
    /* background-color: tomato; */
    align-items: center;
    padding: 0;
  }

  #welcome-buttons {
    /* background-color: #00ddeb; */
    height: 30%;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }

  #welcome-buttons > a {
    width: 80px;
  }

  #welcome-buttons > a > button {
    border-radius: 5px;
    font-size: 0.75em;
  }

  #art-image-shape-banner {
    height: 100vh;
  }

  .intro-section {
    height: 100vh;
  }

  .intro-title > p,
  .img-cards-words > p {
    font-size: 40px;
  }
}
