.main-content {
  position: relative;
  margin: 0 auto;
}

/* <!-- ------------------ ↓ 欢迎内容 ------------------- --> */
.welcome-main {
  /* background-color: #033369; */
  width: 100%;
  height: 100vh;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section-bg-img {
  /* background-color: violet; */
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.section-bg-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-main > .section-bg-img > img {
  filter: brightness(50%);
}

#art-image-shape-banner > .section-bg-img > img {
  /* transform: rotateY(180deg); */
}

.intro-section > .section-bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, #000 0%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
}

/* .section-bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #000 35%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
} */

.site-title {
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: solid 1px rgb(138, 138, 138); */
  clip-path: inset(0 30% 0 30%);
}

#eternal-title-text {
  width: 200px;
  height: 100px;
  /* background-color: cornflowerblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#永,
#恒 {
  width: 45%;
  height: 100%;
  overflow: hidden;
}

#永 > img,
#恒 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-position: center;
  /* filter: brightness(0.9) invert(0.5) sepia(0.5) hue-rotate(110deg)
    saturate(500%); */
}

#永 > img {
  -webkit-mask-image: url(/Images/Index-Images/永.png);
  mask-image: url(/Images/Index-Images/永.png);
}

#恒 > img {
  -webkit-mask-image: url(/Images/Index-Images/恒.png);
  mask-image: url(/Images/Index-Images/恒.png);
}

.site-title > p:nth-child(2) {
  /* background-color: darkcyan; */
  font-size: clamp(1.5em, 1.75em, 2em);
  color: cadetblue;
}

.sub-link {
  /* background-color: darkcyan; */
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#software-link-container {
  /* background-color: coral; */
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#software-link-container > a {
  display: block;
  width: 100%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  /* outline: solid 5px #222; */
}

#software-link-container > a > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(100%);
  transition: 0.5s;
}

#software-link-container > a:hover > img {
  transform: scale(110%);
}

#software-link-text {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  backdrop-filter: blur(3px);
}

.link-logo {
  /* background-color: chocolate; */
  height: 65%;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.link-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  /* box-shadow: 2px 2px 5px 0 rgb(0, 0, 0); */
}

.link-right-area {
  /* background-color: darkgreen; */
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 10px 0 10px 0; */
}

.link-button {
  width: 60%;
  height: 45px;
  line-height: 45px;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(25deg, red, orange 100%);
  border-style: none;
  border-radius: 25px;
  box-shadow: 2px 2px 4px 0px rgb(24, 24, 24);
  /* transition: 0.25s; */
}

.link-button:hover {
  cursor: pointer;
  /* color: rgb(0, 0, 0); */
  outline: solid 2px #eee;
}

.link-text {
  font-size: 0.95rem;
}

.link-text:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: goldenrod;
}

#other-link-container {
  /* background-color: slateblue; */
  width: 900px;
  height: 100%;
  display: grid;
  gap: 25px 25px;
  grid-template-columns: repeat(auto-fill, minmax(15%, 25%));
  grid-template-rows: minmax(200px, 300px);
  justify-content: center;
  align-content: flex-start;
  padding: 0 50px;
}

.other-link-content {
  /* background-color: brown; */
  overflow: hidden;
}

.other-link-content > a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.other-link-content > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(100%);
  transition: 0.5s;
}

.other-link-content > a:hover > img {
  transform: scale(110%);
}

.other-link-text {
  position: absolute;
  width: 100%;
  height: 30%;
  background: rgba(15, 15, 15, 0.75);
  left: 0;
  top: 70%;
  backdrop-filter: blur(5px);
  display: flex;
}

.other-link-text > .link-right-area > .link-button {
  width: 85%;
  height: 35px;
  line-height: 35px;
  font-size: clamp(0.75rem, 0.95rem, 1rem);
}

.other-link-text > .link-right-area > .link-text {
  font-size: 0.85rem;
}

#game {
  height: 80px;
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#game-button {
  border-radius: 100px;
  height: 90%;
  width: 67%;
  background: url(/Images/Index-Images/game-button-background-02.png);
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.25s;
}

#game-button:hover {
  cursor: pointer;
}

#game-button:hover > p {
  letter-spacing: 0.2rem;
}

#game-button > p {
  color: rgb(66, 200, 137);
  font-size: 2em;
  font-weight: bold;
  z-index: 1;
  user-select: none;
  transition: 0.25s;
  text-align: center;
  text-shadow: 3px -3px 10px rgba(30, 30, 30, 1),
    -3px 3px 5px rgba(30, 30, 30, 1);
}

#game-button > img {
  position: absolute;
}

.mario-run {
  height: 95%;
  left: 0;
  bottom: 0;
  animation: mario-running 3s infinite 0.4s linear;
}

.ball-run {
  height: 60%;
  bottom: 0;
  left: 0;
  animation: mario-running 3s infinite linear,
    ball-rotate 1.5s infinite linear alternate;
  filter: drop-shadow(1px 1px 3px #000);
}

#game-button:hover > img {
  animation-play-state: paused;
}

@keyframes mario-running {
  from {
    transform: rotateY(0deg);
    left: 0%;
  }
  50% {
    transform: rotateY(0deg);
    left: 86%;
  }
  50.01% {
    left: 86%;
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
    left: 0%;
  }
}

@keyframes ball-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(1260deg);
  }
}
/* <!-- ------------------ ↑ 欢迎内容 ------------------- --> */

/* <!-- ------------------ ↓ 学习技巧翻转卡片 ------------------- --> */
#art-image-shape-banner {
  /* background-color: #ffca1c; */
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5% 0;
  overflow: hidden;
}

.img-cards {
  /* background-color: darkcyan; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-card-outer-layer {
  background-color: transparent;
  width: 22%;
  aspect-ratio: 1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 15px;
}

.img-card-inner-layer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.img-card-outer-layer:hover .img-card-inner-layer {
  transform: rotateY(180deg);
}

.image-content,
.hint-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.image-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.image-content {
  /* background-color: #bbb; */
  color: black;
}

.arrow-down {
  position: absolute;
  transform: translateY(100%);
  left: 45%;
  width: 10%;
  height: 10%;
  overflow: hidden;
  animation: arrow-up-and-down 0.25s ease-in-out infinite alternate;
}

.arrow-down > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 50%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  filter: brightness(3);
}

@keyframes arrow-up-and-down {
  from {
    top: -35%;
  }
  to {
    top: -30%;
  }
}

.hint-content {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  padding: 80px 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.hint-content > .hint-title {
  font-size: 2em;
  font-weight: bolder;
  color: gold;
}

.hint-content > .hint-text {
  /* background-color: #033369; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hint-text > ul > li {
  list-style: none;
  padding-left: 0.5em;
}

.hint-text li::marker {
  content: "→";
}

.hint-content > .hint-text p {
  font-size: 1.2em;
  margin: 15px 0 0 0;
  transition: 0.3s;
  text-align: left;
}

.hint-content > .hint-text p:hover > a {
  color: cornflowerblue;
}

.hint-content > .opacity-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: dodgerblue;
  z-index: -1;
  opacity: 15%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 15px;
}

.img-cards-words {
  /* background-color: tomato; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 9%;
}

.img-cards-words > p {
  font-size: 4em;
  color: goldenrod;
  transition: 0.75s;
}

.img-cards-words > p:nth-child(1) {
  transform: translateX(-100%);
  filter: opacity(0);
}

.img-cards-words > p:nth-child(2) {
  transform: translateX(100%);
  filter: opacity(0);
}
/* <!-- ------------------ ↑ 学习技巧翻转卡片 ------------------- --> */

/* <!-- ------------------ ↓ 主页介绍 ------------------- --> */
.intro-section {
  /* background-color: #00ddeb; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.intro-gif-container {
  /* background-color: #5b42f3; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.intro-gif {
  /* position: absolute; */
  margin: -5% 0;
  aspect-ratio: 4 / 2.9;
  overflow: hidden;
  border-radius: 15px;
  filter: opacity(75%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: 1s;
  box-shadow: -3px -3px 10px 0 #000;
}

.intro-gif-container > .intro-gif:nth-child(1),
.intro-gif-container > .intro-gif:nth-child(7) {
  width: 30%;
}

.intro-gif-container > .intro-gif:nth-child(2),
.intro-gif-container > .intro-gif:nth-child(6) {
  width: 33%;
}

.intro-gif-container > .intro-gif:nth-child(3),
.intro-gif-container > .intro-gif:nth-child(5) {
  width: 36.2%;
}

.intro-gif-container > .intro-gif:nth-child(4) {
  box-shadow: -3px -3px 10px 0 rgba(0, 0, 0, 0.5),
    3px 3px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 40%;
}

.intro-gif-container > .intro-gif:nth-child(5) {
  z-index: 2;
}

.intro-gif-container > .intro-gif:nth-child(6) {
  z-index: 1;
}

.intro-gif > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-content-container {
  /* background-color: yellow; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-title {
  /* background-color: cadetblue; */
  padding-left: 22%;
  font-size: 4em;
  color: goldenrod;
}

.intro-title > p {
  transition: 0.75s;
}

.intro-title > p:nth-child(1) {
  transform: translateY(-200%);
  filter: opacity(0);
}

.intro-title > p:nth-child(2) {
  transform: translateY(200%);
  filter: opacity(0);
}
/* <!-- ------------------ ↑ 主页介绍 ------------------- --> */

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1000px) {
  .welcome-main {
    justify-content: space-evenly;
  }

  .site-title {
    /* background-color: rgb(80, 84, 2); */
    clip-path: inset(0);
    border-bottom: none;
  }

  .site-title > p {
    display: none;
  }

  #eternal-title-text {
    aspect-ratio: 1;
    height: 100%;
  }

  .sub-link {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  #software-link-container {
    padding: 10px 0 0px 0;
    margin-bottom: 10px;
    width: 100%;
    height: 40%;
  }

  #software-link-container > a {
    outline: none;
    height: 100%;
    border-radius: 0;
  }

  #software-link-container > a > img {
    object-position: 0 25%;
  }

  #software-link-text {
    height: 40%;
  }

  #software-link-text > .link-right-area {
    width: 100%;
  }

  .link-right-area {
    width: 100%;
  }

  #other-link-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 60%;
    gap: 10px 10px;
    padding: 0;
  }

  .other-link-content > a {
    border-radius: 0;
  }

  .other-link-content {
    grid-row: span 2;
  }

  .other-link-text {
    top: 71%;
  }

  #game-button {
    width: 100%;
  }

  .link-logo,
  .link-text {
    display: none;
  }

  #art-image-shape-banner {
    padding: 0;
  }

  .img-cards {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    width: 100%;
  }

  .img-card-outer-layer {
    height: 25%;
    width: 60%;
  }

  .arrow-down {
    transform: translateY(170%);
  }

  .hint-content {
    height: 100%;
    padding: 0;
    flex-direction: row;
  }

  .hint-content > .hint-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 20px;
  }

  .hint-title > p {
    word-wrap: break-word;
    word-break: break-all;
  }

  .hint-content > .hint-text {
    width: 50%;
    height: 100%;
    justify-content: center;
  }

  .hint-content > .hint-text p {
    margin: 2px 0 2px 0;
  }

  .img-cards-words > p {
    font-size: 2em;
  }

  .intro-section {
    flex-direction: column;
  }

  .intro-gif-container {
    width: 100%;
    align-items: center;
    transform: translateX(22.5%);
  }

  .intro-title {
    transform: translateY(-100%);
    margin: 0 auto;
    padding-left: 0;
    font-size: 2em;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
