body {
  background-color: rgb(25, 39, 70) !important;
  color: aliceblue;
  font-family: 微软雅黑, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 110vh;
}

.密码页面 {
  height: 100vh;
  width: 100%;
}

#顶栏菜单 {
  width: 100%;
  height: 150px;
}

#广告位1号 {
  background-color: rgb(126, 186, 226);
  width: 1000px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

#广告位1号左 {
  color: black;
  width: 50%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: blueviolet; */
}

#广告位1号左 > p {
  /* background-color: brown; */
  margin: 2px;
}

#广告位1号左 > p:nth-child(1) {
  font-size: 1.5em;
}

#广告位1号右 {
  width: 50%;
  height: 100%;
  display: flex;
  padding-right: 50px;
  justify-content: flex-end;
  align-items: center;
}

.免费试用 {
  width: 220px;
  height: 60px;
  font-size: 1.2em;
  border-radius: 30px;
  background-color: rgb(24, 93, 158);
  color: aliceblue;
  border-style: none;
  transition: 0.25s;
}

.免费试用:hover {
  background-color: rgb(14, 64, 110);
  cursor: pointer;
}

#广告位2号 {
  width: 1000px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#广告位2号 > p {
  margin: 5px 0;
}

#广告位2号 > p:nth-child(1) {
  font-size: 2.2em;
}

#密码区 {
  margin: 0 auto 10px auto;
  /* padding: 0 50px; */
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#密码区 > p:nth-child(1) {
  width: 75%;
  user-select: none;
  -webkit-user-select: none;
  margin-bottom: 10px;
}

#密码框 {
  background-color: rgb(210, 246, 255);
  color: black;
  font-size: 1.5em;
  /* min-height: 1em; */
  height: 100px;
  width: 75%;
  border-radius: 10px;
  padding: 20px;
}

.letter,
.digit,
.symbol {
  font-family: consolas;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}

.digit {
  color: brown;
}

.symbol {
  color: seagreen;
}

#密码选项 {
  height: 200px;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#密码选项-上 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#密码大类 {
  width: 40%;
  height: 50px;
  border-radius: 25px;
  outline: 1px solid #fff;
  position: relative;
  transition: 0.25s;
}

#密码大类:hover {
  background: rgba(200, 200, 200, 0.1);
}

#默认密码类型 {
  padding: 0 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#默认密码类型:hover {
  cursor: pointer;
}

#默认密码类型 > p:nth-child(1) {
  user-select: none;
  -webkit-user-select: none;
}

#默认密码类型 > p:nth-child(2) {
  font-size: 2rem;
  padding-top: 7.5%;
  -webkit-user-select: none;
  user-select: none;
}

#密码类型选择-容器 {
  /* background-color: blanchedalmond; */
  color: black;
  width: 100%;
  border-radius: 10px;
  display: none;
  position: relative;
  z-index: 1;
}

#密码类型选择-内容 {
  background-color: beige;
  width: 100%;
  height: 100%;
  transform: translateY(10px);
  border-radius: 10px;
  overflow: hidden;
}

#密码类型选择-内容 > p {
  margin: 0;
  padding: 5px 30px;
  user-select: none;
}

#密码类型选择-内容 > p:hover {
  background-color: rgb(167, 32, 32);
  color: #fff;
}

#刷新密码 {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#刷新密码:hover {
  cursor: pointer;
}

#刷新密码:hover > img {
  animation: 刷新按钮旋转 1.5s linear infinite;
}

#刷新密码 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes 刷新按钮旋转 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#复制安全密码 {
  height: 50px;
  width: 40%;
  background: linear-gradient(
    135deg,
    rgb(14, 110, 206) 50%,
    rgb(10, 69, 128) 50%
  );
  background-size: 250%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

#复制安全密码:hover {
  cursor: pointer;
  background-position: -70% 0;
}

#复制安全密码:active {
  box-shadow: inset 0px 1px 1px rgb(238, 238, 238, 0.65), 0px 2px 4px 0 #0005;
}

#复制安全密码 > p {
  user-select: none;
}

#密码选项-下 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 35, 48);
  border-radius: 5px;
}

#密码长度滑块 {
  /* width: 50%; */
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#密码长度滑块 > p:nth-child(1) {
  margin: 0 2px;
  -webkit-user-select: none;
  user-select: none;
}

#密码长度滑块 > .slider {
  display: block;
  margin: 0 10px;
  position: relative;
}

#密码长度滑块 > .slider:hover {
  cursor: pointer;
}

#密码长度滑块 > .slider::-webkit-slider-thumb {
  transform: scale(170%);
  appearance: none;
  background: rgb(1, 151, 33);
}

#密码长度滑块 > p:nth-child(3) {
  margin: 0 2px;
  width: 28px;
}

#密码字符类型 {
  /* width: 50%; */
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#密码字符类型 > .密码类型复选框 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

#密码字符类型 > .密码类型复选框:hover {
  cursor: pointer;
}

.密码类型复选框 > input {
  transform: scale(135%);
  margin: 0 5px;
}

.密码类型复选框 > input:hover {
  cursor: pointer;
}

.密码类型复选框 > p {
  font-size: 1.1em;
  user-select: none;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1000px) {
  #顶栏菜单 {
    height: 20px;
  }

  #广告位1号 {
    width: 100%;
    flex-direction: column;
  }

  #广告位1号左,
  #广告位1号右 {
    width: 90%;
  }

  #广告位1号左 {
    padding-left: 0;
  }

  #广告位1号左 > p {
    margin: 0 auto;
  }

  #广告位1号右 {
    padding-right: 0;
    justify-content: center;
  }

  #广告位2号 {
    width: 100%;
  }

  #广告位2号 > p:nth-child(1) {
    text-align: center;
  }

  #密码区 {
    width: 100%;
  }

  #密码区 > p:nth-child(1) {
    text-align: center;
  }

  #默认密码类型 {
    padding: 0 15px;
  }

  #默认密码类型 > p:nth-child(2) {
    padding-top: 15%;
  }

  #密码框 {
    font-size: 1.25em;
  }

  #密码选项 {
    width: 100%;
    height: 200px;
  }

  #密码选项-下 {
    justify-content: space-evenly;
    flex-direction: column;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
