:root {
  --people-name: #e0a543;
  --bg-color: #0d1b2a;
}

.people-hall {
  /* background-color: rgb(48, 157, 1); */
  margin: 80px 0 50px 0;
  padding: 20px 25px;
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.people-hall-banner {
  position: absolute;
  height: 1200px;
  width: 100vw;
  top: 0%;
  transform: translateY(-60%);
  object-fit: cover;
  opacity: 20%;
  z-index: -1;
}

.people {
  /* background-color: #e0a543; */
  position: relative;
  height: 100%;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
}

.people-banner {
  position: absolute;
  display: none;
  object-fit: cover;
  z-index: -1;
  top: -50%;
  opacity: 15%;
}

@keyframes show-people-banner {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 5%;
  }
  to {
    clip-path: inset(0 0 0 0);
    opacity: 15%;
  }
}

.people:hover > .people-banner {
  display: block;
  animation: show-people-banner 0.4s;
  animation-fill-mode: forwards;
}

.people-banner > img {
  object-fit: cover;
}

.people-img {
  /* background-color: aqua; */
  width: 35%;
  height: 100%;
  margin: auto;
}

.people-img > img {
  display: block;
  margin: auto 0 auto auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.people-img > img:hover {
  transform: scale(1.1);
}

.people-brief {
  /* background-color: blueviolet; */
  margin: 0 auto 0 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transform: translate(-6%, 0);
}

.people-name {
  font-size: 1.5em;
  color: var(--people-name);
  transition: 0.5s;
}

.detail {
  font-size: 0.9em;
}

.detail > a {
  font-size: 0.8em;
}

.detail > a:hover {
  text-decoration: underline;
  animation: move-underline 0.3s;
  animation-fill-mode: forwards;
}

@keyframes move-underline {
  from {
    text-underline-offset: 0.2em;
  }
  to {
    text-underline-offset: 0.5em;
  }
}

.people-life {
  max-height: 70%;
  overflow: auto;
  padding: 15px 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25),
    -2px -2px 10px rgba(0, 0, 0, 0.25);
  transform: translate(-15px, 0);
}
