:root {
  --people-name: #e0a543;
  --bg-color: #0d1b2a;
}

.people-hall {
  margin: 80px 0 50px 0;
  padding: 20px 25px;
  width: 100%;
  max-height: 500px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.people-banner {
  position: absolute;
  max-height: 1800px;
  width: 100vw;
  top: 0%;
  transform: translateY(-50%);
  object-fit: cover;
  opacity: 20%;
  z-index: -1;
}

.people {
  max-height: 600px;
  max-width: 1000px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.people-img {
  max-width: 250px;
  margin: auto;
}

.people-img img {
  object-fit: cover;
  border-radius: 8%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.people-brief {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px 0 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.people-name {
  font-size: 1.5em;
  color: var(--people-name);
  transition: 0.5s;
}

.detail {
  font-size: 0.9em;
}

.detail > a {
  font-size: 0.8em;
}

.detail > a:hover {
  text-decoration: underline;
  animation: move-underline 0.3s;
  animation-fill-mode: forwards;
}

@keyframes move-underline {
  from {
    text-underline-offset: 0.2em;
  }
  to {
    text-underline-offset: 0.5em;
  }
}

.people-life {
  max-height: 70%;
  overflow: auto;
  padding: 15px 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25),
    -2px -2px 10px rgba(0, 0, 0, 0.25);
  transform: translate(-3%, -2.5%);
}
