body {
  position: relative;
}

.software-category-list {
  background-color: #111;
  height: 100vh;
  width: 10vw;
  position: fixed;
}

.software-category-list > .software-category {
  position: fixed;
  padding: 0 0 0 1%;
  height: 6vh;
  width: 10vw;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  background-color: #111;
}

.software-category-list > .software-category:nth-child(1) {
  top: 16%;
}

.software-category-list > .software-category:nth-child(2) {
  top: 22%;
}

.software-category-list > .software-category:nth-child(3) {
  top: 28%;
}

.software-category-list > .software-category:nth-child(4) {
  top: 34%;
}

.software-category-list > .software-category:nth-child(5) {
  top: 40%;
}

.software-category-list > .software-category:nth-child(6) {
  top: 46%;
}

.software-category-list > .software-category:nth-child(7) {
  top: 52%;
}

.software-category-list > .software-category:nth-child(8) {
  top: 58%;
}

.software-category-list > .software-category:nth-child(9) {
  top: 64%;
}

.software-category-list > .software-category:hover {
  background-color: darkcyan;
}

.software-container {
  background-color: #151515;
  width: 90vw;
  height: 100vh;
  transform: translateX(10vw);
}
