:root {
  --list-left-color: #202020;
  --software-category-width: 200px;
}

body {
  position: relative;
  z-index: 0;
}

.software-category-list {
  background-color: rgb(20, 23, 30);
  height: 100vh;
  width: var(--software-category-width);
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3% 0 0 0;
}

.software-category-list > .software-category {
  /* position: fixed; */
  padding: 0 0 0 20px;
  width: 100%;
  height: 45px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background: #259904; */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.software-category-list > .software-category:hover {
  background: rgba(41, 52, 63, 1) !important;
}

.software-category-list > .software-category > p {
  /* background-color: chocolate; */
  transition: 0.5s;
}

/* .software-category-list > .software-category:hover > p {
  color: gold !important;
  transform: translateX(1em) !important;
} */

.software-container {
  /* background: #402500; */
  background-image: radial-gradient(
    farthest-corner at 60% 5%,
    rgb(63, 69, 91) 0%,
    rgb(23, 26, 33) 40%
  );
  width: calc(100vw - var(--software-category-width));
  min-height: 100vh;
  margin-left: var(--software-category-width);
  display: grid;
  align-content: flex-start;
  gap: 5vh 50px;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: fit-content;
  padding: 2% 4%;
  overflow: hidden;
}

.software-container > .software {
  /* background-color: beige; */
  width: 100%;
  height: 105%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* height: fit-content; */
  transition: 0.5s;
}

.software-container > .software > .software-img {
  /* background-color: #002bff; */
  display: block;
  max-width: 100%;
  aspect-ratio: 4/3;
  transition: 0.5s;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.7);
}

.software-container > .software > .software-img:hover {
  transform: scale(1.03);
}

.software-container > .software > .software-img > img {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 5px 0 #111;
  transition: 0.5s;
}

/* .software-container > .software > .software-img:hover > img {
  transform: scale(1.08);
  animation: colorful-out-glow linear 5s infinite;
  outline: solid #fff 3px;
} */

/* @keyframes colorful-out-glow {
  from {
    box-shadow: 8px 5px 45px 0 #ff0000;
    box-shadow: -2px -3px 45px 0 #ff0000;
  }
  11% {
    box-shadow: 8px 5px 45px 0 #ff7300;
    box-shadow: -2px -3px 45px 0 #ff7300;
  }
  22% {
    box-shadow: 8px 5px 45px 0 #fffb00;
    box-shadow: -2px -3px 45px 0 #fffb00;
  }
  33% {
    box-shadow: 8px 5px 45px 0 #48ff00;
    box-shadow: -2px -3px 45px 0 #48ff00;
  }
  44% {
    box-shadow: 8px 5px 45px 0 #00ffd5;
    box-shadow: -2px -3px 45px 0 #00ffd5;
  }
  55% {
    box-shadow: 8px 5px 45px 0 #002bff;
    box-shadow: -2px -3px 45px 0 #002bff;
  }
  66% {
    box-shadow: 8px 5px 45px 0 #7a00ff;
    box-shadow: -2px -3px 45px 0 #7a00ff;
  }
  77% {
    box-shadow: 8px 5px 45px 0 #ff00c8;
    box-shadow: -2px -3px 45px 0 #ff00c8;
  }
  to {
    box-shadow: 8px 5px 45px 0 #ff0000;
    box-shadow: -2px -3px 45px 0 #ff0000;
  }
} */

.float-brief-container {
  position: absolute;
  background: rgba(15, 15, 15, 0.6);
  /* background-color: blue; */
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  transition: 0.3s;
}

.software-img:hover > .float-brief-container {
  opacity: 1;
}

.float-brief {
  /* background-color: rgb(240, 156, 47); */
  position: absolute;
  top: 65%;
  width: 100%;
  height: 65%;
  font-size: 1em;
  overflow: auto;
  transition: 0.3s;
}

.software-img:hover .float-brief {
  top: 35%;
  background: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: blur(2px); */
}

.float-brief > span {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  flex-wrap: wrap;
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
}

.software-container > .software > .software-text {
  display: block;
  text-align: center;
  padding: 2.5% 0 0 0;
  /* background-color: rgb(23, 91, 94); */
  width: 100%;
  height: 12%;
  overflow: visible;
  transition: 0.5s;
}

.software-container > .software > .software-text > .software-title {
  display: inline-block;
  /* background-color: #002bff; */
  font-size: 1.25em;
  color: tomato;
  text-shadow: 1px 1px 1px #111;
  transition: transform 0.5s;
}

.software-container > .software > .software-text > .software-title:hover {
  /* background-color: blueviolet; */
  transform: scale(1.05);
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: cadetblue;
}

/* <!-- ------------------ ↓ 响应式设计 ------------------- --> */
@media screen and (max-width: 1000px) {
  .software-category-list {
    width: 110px;
  }

  .software-category-list > .software-category {
    padding: 0 0 0 10px;
    width: 100%;
    height: 45px;
    font-size: 0.8em;
  }

  .software-container {
    /* background: royalblue; */
    width: 100vw;
    margin-left: 120px;
    padding: 2% 1%;
    gap: 5vh 10px;
    grid-template-columns: repeat(auto-fill, 250px);
  }

  .software-container > .software {
    /* background-color: beige; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.5s;
  }
}
/* <!-- ------------------ ↑ 响应式设计 ------------------- --> */
