:root {
  --旋转用时: 250ms;
  --快捷键区边框色: #fff3;
  --快捷键列表项高度: 41px;
}

.正斜杠 {
  color: rgb(164, 189, 189);
  margin: 0 2px;
}

.快捷键池 {
  width: fit-content;
  min-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.标题 {
  padding: 20px 0;
  color: #b056df;
  font-weight: normal;
}

.快捷键种类区 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: solid 1px var(--快捷键区边框色);
  border-left: solid 1px var(--快捷键区边框色);
  border-right: solid 1px var(--快捷键区边框色); */
}

.快捷键种类 {
  position: relative;
  padding: 10px;
  /*box-shadow: inset 0 1px 0 1px #fff1;*/
  color: rgb(160, 160, 160);
  -webkit-user-select: none;
  user-select: none;
  font-size: 14px;
  font-family: "Noto Sans SC", sans-serif;
  flex-grow: 1;
  text-align: center;
}

.快捷键种类.禁用 {
  filter: brightness(50%);
  pointer-events: none;
}

.快捷键种类:first-child {
  border-right: solid 1px #fff1;
}

.快捷键种类:last-child {
  border-left: solid 1px #fff1;
}

.快捷键种类:not(:first-child, :last-child) {
  border-left: solid 1px #fff2;
  border-right: solid 1px #fff2;
}

.快捷键种类:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  background-color: #cde1;
  color: #89a;
}

.快捷键种类.当前种类 {
  background-color: #252a2f;
  color: lightcyan;
}

.当前种类选中计数 {
  width: 25px;
  height: 20px;
  border-radius: 2px 2px 0 0;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -100%;
  text-align: center;
  align-content: center;
  border-top: solid 1px #fff6;
  border-left: solid 1px #fff6;
  border-right: solid 1px #fff6;
  background-color: #252a2f;
  opacity: 0;
  font-size: 12px;
  font-family: Consolas, monospace;
}

.快捷键种类:not(.当前种类) .当前种类选中计数 {
  background-color: var(--bg-color);
}

.当前种类选中计数.已有选中数 {
  opacity: 1;
}

.快捷键列表区 {
  width: 100%;
  position: relative;
  height: calc(var(--快捷键列表项高度) * 7 + 30px);
  background-color: #252a2f;
  /*box-shadow: inset 0 -1px 0 1px #fff1;*/
  /* border-bottom: solid 1px var(--快捷键区边框色);
  border-left: solid 1px var(--快捷键区边框色);
  border-right: solid 1px var(--快捷键区边框色); */
}

.快捷键列表区::before {
  position: absolute;
  width: 100%;
  height: calc(100% + 40px);
  bottom: 0;
  content: "";
  pointer-events: none;
  border: solid 1px var(--快捷键区边框色);
}

#取消选择 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  font-size: 14px;
  background-color: #fff2;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 1px 1px 0 #fff8, 1px 1px 2px 0 #0008;
}

#取消选择:hover {
  background-color: #fff3;
}

#取消选择:active {
  background-color: #fff4;
}

.快捷键列表区错误层 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.快捷键列表 {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 100%;
  max-height: 100%;
  /*padding: 15px 0;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  opacity: 0;
  pointer-events: none;
}

.快捷键列表.禁用 .快捷键列表项 {
  pointer-events: none;
  filter: brightness(50%);
}

.快捷键列表.当前列表 {
  opacity: 1;
  pointer-events: auto;
}

.快捷键列表项:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.列表项容器 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  border: solid 1px #def2;
}

.列表项容器:hover {
  background-color: #ffffff0a;
  border: solid 1px #def4;
}

.列表项容器.已确认容器 {
  background-color: #def3;
}

.序号 {
  font-size: 12px;
  font-family: Consolas, monospace;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  background-color: #fff8;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 2px 1px #0005;
}

.列表项容器.已确认容器 .序号 {
  box-shadow: 1px 1px 2px 1px transparent;
  background-color: #fffc;
}

.快捷键内容 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
}

.列表项容器.已确认容器 .功能键 {
  color: #50ebe3;
}

.列表项容器.已确认容器 .连接符 {
  color: silver;
}

.列表项容器.已确认容器 .按键 {
  color: lightgreen;
}

.序号,
.功能键,
.连接符,
.按键,
.标签文本 {
  -webkit-user-select: none;
  user-select: none;
}

.功能键 {
  color: lightseagreen;
}

.按键 {
  color: #589658;
}

.连接符 {
  color: gray;
}

.列表项容器.已确认容器 .连接符 {
  color: #aaa;
}

.用途 {
  color: #6cb2dd;
  font-size: 12px;
  background-color: #fff2;
  padding: 3px 6px;
  margin-left: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px 0 #fff8, 1px 1px 2px 0 #0008;
}

.测试面 .用途 {
  font-size: 18px;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  margin-left: 0;
}

.列表项容器.已确认容器 .用途 {
  color: lightcyan;
}

.测试选项区 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.标签 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.标签文本 {
  color: gray;
}

.文本框,
.数字框 {
  font-family: "JetBrains Mono", Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: silver;
  border-radius: 5px;
  outline: solid 2px #345;
  transition: 125ms;
}

.文本框:hover,
.数字框:hover {
  outline: solid 2px #456;
  background-color: #151b20;
}

.文本框:focus,
.数字框:focus {
  outline: solid 2px #678;
  background-color: #202a32;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.选项区-按钮区 {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  outline: solid 2px #cde5;
}

.选项区-按钮区:hover {
  outline: solid 2px #cdea;
}

.按钮 {
  color: silver;
  transition: 50ms;
}

#run {
  width: 70px;
  height: 100%;
  font-size: 16px;
  background-color: #345;
}

#run:hover {
  background-color: #456;
  color: white;
}

#run:active {
  background-color: #678;
}

#cancel {
  width: 40px;
  height: 100%;
}

#cancel {
  background-color: #852121;
  font-size: 16px;
}

#cancel:hover {
  background-color: brown;
}

#cancel:active {
  background-color: #bb3434;
}

#result {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #465;
  color: silver;
}

#result[disabled] {
  filter: brightness(35%);
}

#result[disabled]:hover {
  cursor: url("/Images/Common/鼠标-默认.cur"), auto;
}

#result:not[disabled]:hover {
  background-color: #576;
  color: white;
}

#result:not[disabled]:active {
  background-color: #687;
}

.测试区 {
  position: relative;
  height: max(350px, calc(100vh - 621px));
  display: flex;
  justify-content: center;
}

.测试容器-透视 {
  perspective: 1000px;
  width: 600px;
  overflow: hidden;
}

.测试容器-旋转 {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: var(--旋转用时);
}

.测试面 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #cde1;
}

.测试面 :where(.功能键, .按键, .连接符) {
  font-size: 20px;
}

.测试面 .快捷键内容 {
  width: 400px;
  justify-content: flex-start;
}

.测试-正面,
.测试-反面 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.测试-反面 {
  rotate: y 180deg;
}

.单次测试结果区 {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.单次测试用时 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.单次测试用时描述 {
  color: gray;
}

.单次测试用时容器 {
  font-family: Consolas, "Noto Sans SC", monospace, sans-serif;
  display: flex;
  align-items: center;
  gap: 3px;
}

.单次测试用时值 {
  color: lightskyblue;
}

.单次测试用时后缀 {
  color: lightsteelblue;
}

.单次测试结果 {
  width: 100px;
  height: 100px;
}

.单次测试结果 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.测试描述 {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #fff2;
  box-shadow: inset 0 1px 2px 0 #fff8, 0 1px 2px 0 #0005;
  color: #aaa;
  border-radius: 5px;
  margin-right: 20px;
}

.测试计数 {
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: Consolas, "Noto Sans SC", 微软雅黑， monospace, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.计次 {
  width: 27px;
  text-align: right;
  color: yellowgreen;
}

.斜杠 {
  color: gray;
}

.总数 {
  color: silver;
}

.音效区 {
  position: absolute;
  top: 12px;
  right: 200px;
}

#音效 {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  width: 100%;
  height: 100%;
}

.复选标签:hover,
.复选框:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.复选标签:hover .音效文本 {
  color: gold;
}

.复选标签 .音效文本 {
  color: darkkhaki;
  transition: 125ms;
}

.提示类型区 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.提示类型区.禁用 {
  pointer-events: none;
}

.提示类型标题 {
  margin-right: 8px;
  color: #aaa;
}

.单选标签 {
  position: relative;
  padding: 4px 8px;
  background-color: #3b3b3b;
}

.单选标签:nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}

.单选标签:nth-of-type(2) {
  border-radius: 0 5px 5px 0;
}

.单选标签:has(.单选:checked) {
  background-color: lightgreen;
}

.单选标签:not(:has(.单选:checked)):hover {
  background-color: #4b4b4b;
}

.单选标签:hover,
.单选:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.单选 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
}

.标签文本 {
  color: #888;
  transition: 100ms;
}

.单选标签:has(.单选:checked) .标签文本 {
  color: black;
}

.单选标签:not(:has(.单选:checked)):hover .标签文本 {
  color: #9ab;
}

.加油区 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  translate: 0 -200%;
  pointer-events: none;
}

.加油容器 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.加油容器 > img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

#结果对话框 {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  color: silver;
  overflow: hidden;
  font-family: Consolas, "Noto Sans SC", monospace, sans-serif;
}

#结果对话框[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  translate: -50% -50%;
  @starting-style {
    translate: -50% -150%;
  }
  transition: translate 750ms, display 750ms allow-discrete;
}

#结果对话框[open]::backdrop {
  background-color: #000b;
  backdrop-filter: blur(5px);
  transition: 750ms;
  @starting-style {
    background-color: transparent;
  }
}

#关闭对话框 {
  width: 125px;
  height: 60px;
  border-radius: 5px;
  background-color: #234;
  color: white;
  font-size: 18px;
  margin: 20px auto 0;
  transition: 100ms;
}

.摘要层 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #def1;
  outline: solid 1px #fff4;
  transition: 500ms;
}

.摘要层.隐藏摘要 {
  opacity: 0;
  translate: 0 -100%;
  pointer-events: none;
}

#关闭对话框-摘要层,
#关闭对话框-详情层 {
  width: 125px;
  height: 60px;
  border-radius: 5px;
  background-color: #234;
  color: white;
  font-size: 18px;
  margin: 30px auto 0;
  transition: 100ms;
}

#关闭对话框-摘要层:hover,
#关闭对话框-详情层:hover {
  background-color: #345;
}

#关闭对话框-摘要层:active,
#关闭对话框-详情层:active {
  background-color: #456;
}

:is(#显示详情, #显示摘要) {
  position: absolute;
  top: 24px;
  right: 10px;
  width: 50px;
  height: 30px;
  border-radius: 999px;
  font-size: 14px;
  background-color: #222;
  color: white;
  outline: solid 2px #fff3;
}

:is(#显示详情, #显示摘要):hover {
  background-color: #333;
}

:is(#显示详情, #显示摘要):active {
  background-color: #444;
}

.结果标题 {
  text-align: center;
  align-content: center;
  color: goldenrod;
  margin-bottom: 25px;
}

.结果分区 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
}

.结果分区:nth-of-type(even) {
  background-color: #0005;
}

.结果分区:nth-of-type(odd) {
  background-color: #ffffff15;
}

.姓名 {
  color: darkgoldenrod;
}

.分区标题 {
  width: 100px;
  height: 43px;
  text-align: right;
  align-content: center;
  color: lightskyblue;
  border-right: solid 1px #fff1;
  padding-right: 15px;
  text-wrap: nowrap;
}

.父容器 {
  display: flex;
  align-items: center;
}

.摘要层 .值 {
  color: mediumseagreen;
}

.摘要层 .前缀 {
  font-size: 0.9em;
  margin-right: 3px;
  color: lightcoral;
}

.摘要层 .单位 {
  font-size: 0.9em;
  margin-left: 2px;
  color: #9ab;
}

.详情层 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 50%;
  background-color: #def1;
  outline: solid 1px #fff4;
  border-radius: 10px;
  min-width: 800px;
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: 500ms;
}

.详情层.显示详情 {
  opacity: 1;
  pointer-events: auto;
  translate: -50% -50%;
}
