:root {
  --旋转用时: 250ms;
}

.快捷键池 {
  width: fit-content;
  margin: 0 auto;
  font-family: "JetBrains Mono", Consolas, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.标题 {
  padding: 20px 0;
  color: #9740c4;
  font-weight: normal;
}

.快捷键种类区 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.快捷键种类 {
  padding: 10px;
  box-shadow: inset 0 1px 0 1px #fff1;
  color: gray;
  -webkit-user-select: none;
  user-select: none;
  font-size: 14px;
  font-family: "Noto Sans SC", sans-serif;
}

.快捷键种类:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
  background-color: #cde1;
}

.快捷键种类.当前种类 {
  background-color: #cde1;
  color: lightcyan;
}

.快捷键列表区 {
  width: 100%;
  position: relative;
  height: 285px;
  box-shadow: inset 0 -1px 0 1px #fff1;
}

#取消选择 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  font-size: 14px;
  background-color: #755a16;
}

#取消选择:hover {
  background-color: #957520;
}

#取消选择:active {
  background-color: darkgoldenrod;
}

.快捷键列表 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cde1;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  opacity: 0;
  pointer-events: none;
}

.快捷键列表.禁用 .快捷键列表项 {
  pointer-events: none;
  filter: brightness(50%);
}

.快捷键列表.当前列表 {
  opacity: 1;
  pointer-events: auto;
}

.快捷键列表项:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.列表项容器 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: solid 1px #def2;
  font-family: Consolas, monospace;
}

.列表项容器:hover {
  background-color: #ffffff0a;
  border: solid 1px #def4;
}

.列表项容器.已确认容器 {
  background-color: #def2;
  /*filter: brightness(2);*/
}

.序号 {
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  background-color: #fff8;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 2px 1px #0005;
}

.列表项容器.已确认容器 .序号 {
  box-shadow: 1px 1px 2px 1px transparent;
  background-color: #fffc;
}

.快捷键内容 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.列表项容器.已确认容器 .功能键 {
  color: #50ebe3;
}

.列表项容器.已确认容器 .连接符 {
  color: silver;
}

.列表项容器.已确认容器 .按键 {
  color: lightgreen;
}

.序号,
.功能键,
.连接符,
.按键,
.标签文本 {
  -webkit-user-select: none;
  user-select: none;
}

.功能键 {
  color: lightseagreen;
}

.按键 {
  color: #589658;
}

.连接符 {
  color: gray;
}

.列表项容器.已确认容器 .连接符 {
  color: #aaa;
}

.用途 {
  color: #6cb2dd;
  font-size: 12px;
  background-color: #fff2;
  padding: 3px 6px;
  margin-left: 3px;
  border-radius: 4px;
  box-shadow:
    inset 0 1px 1px 0 #fff8,
    1px 1px 2px 0 #0008;
}

.测试面 .用途 {
  font-size: 18px;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.列表项容器.已确认容器 .用途 {
  color: lightblue;
}

.测试选项区 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.标签 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.标签文本 {
  color: gray;
}

.文本框,
.数字框 {
  font-family: "JetBrains Mono", Consolas, monospace;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 5px;
  color: silver;
  border-radius: 5px;
  outline: solid 2px #345;
  transition: 125ms;
}

.文本框:hover,
.数字框:hover {
  outline: solid 2px #456;
  background-color: #151b20;
}

.文本框:focus,
.数字框:focus {
  outline: solid 2px #678;
  background-color: #202a32;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.选项区-按钮区 {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.按钮 {
  color: silver;
  border-radius: 999px;
  transition: 50ms;
}

#run {
  width: 100px;
  height: 100%;
  font-size: 16px;
  background-color: #345;
}

#run:hover {
  background-color: #456;
  color: white;
}

#run:active {
  background-color: #678;
}

#cancel {
  width: 50px;
  height: 100%;
}

#cancel {
  background-color: #852121;
  font-size: 16px;
}

#cancel:hover {
  background-color: brown;
}

#cancel:active {
  background-color: #bb3434;
}

.测试区 {
  position: relative;
  height: max(300px, calc(100vh - 580px));
  display: flex;
  justify-content: center;
}

.测试容器-透视 {
  perspective: 1000px;
  width: 600px;
}

.测试容器-旋转 {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: var(--旋转用时);
}

.测试面 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #cde1;
}

.测试面 :where(.功能键, .按键, .连接符) {
  font-size: 20px;
}

.测试面 .快捷键内容 {
  width: 400px;
  justify-content: flex-start;
}

.测试-正面,
.测试-反面 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.测试-反面 {
  rotate: y 180deg;
}

.单次测试结果区 {
  margin-top: 2vh;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.单次测试用时 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.单次测试用时描述 {
  color: gray;
}

.单次测试用时容器 {
  font-family: Consolas, "Noto Sans SC", monospace, sans-serif;
  display: flex;
  align-items: center;
  gap: 3px;
}

.单次测试用时值 {
  color: lightskyblue;
}

.单次测试用时后缀 {
  color: lightsteelblue;
}

.单次测试结果 {
  width: 100px;
  height: 100px;
}

.单次测试结果 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.快捷键内容 {
  font-family: "consolas", monospace;
}

.测试描述 {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #fff2;
  box-shadow:
    inset 0 1px 2px 0 #fff8,
    0 1px 2px 0 #0005;
  color: #aaa;
  border-radius: 5px;
  margin-right: 20px;
}

.测试计数 {
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: "consolas", monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.计次 {
  width: 27px;
  text-align: right;
  color: yellowgreen;
}

.斜杠 {
  color: gray;
}

.总数 {
  color: silver;
}

.提示类型区 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.提示类型标题 {
  margin-right: 8px;
  color: #aaa;
}

.单选标签 {
  position: relative;
  padding: 4px 8px;
  background-color: #3b3b3b;
}

.单选标签:nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}

.单选标签:nth-of-type(2) {
  border-radius: 0 5px 5px 0;
}

.单选标签:has(.单选:checked) {
  background-color: lightgreen;
}

.单选标签:not(:has(.单选:checked)):hover {
  background-color: #4b4b4b;
}

.单选标签:hover,
.单选:hover {
  cursor: url("/Images/Common/鼠标-指向.cur"), pointer;
}

.单选 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
}

.标签文本 {
  color: #888;
  transition: 100ms;
}

.单选标签:has(.单选:checked) .标签文本 {
  color: black;
}

.单选标签:not(:has(.单选:checked)):hover .标签文本 {
  color: #9ab;
}

#结果对话框 {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  color: silver;
  overflow: hidden;
  font-family: Consolas, "Noto Sans SC", monospace, sans-serif;
}

#结果对话框[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  translate: -50% -50%;
  @starting-style {
    translate: -50% -150%;
  }
  transition:
    translate 750ms,
    display 750ms allow-discrete;
}

#结果对话框[open]::backdrop {
  background-color: #000b;
  backdrop-filter: blur(5px);
  transition: 750ms;
  @starting-style {
    background-color: transparent;
  }
}

.对话框布局层 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #def1;
}

#关闭结果 {
  width: 125px;
  height: 60px;
  border-radius: 5px;
  background-color: #234;
  color: white;
  font-size: 18px;
  margin: 20px auto 0;
  transition: 100ms;
}

#关闭结果:hover {
  background-color: #345;
}

#关闭结果:active {
  background-color: #456;
}

.结果分区 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
}

.结果分区:nth-of-type(even) {
  background-color: #0003;
}

.结果分区:nth-of-type(odd) {
  background-color: #ffffff10;
}

.分区标题 {
  width: 120px;
  height: 43px;
  text-align: right;
  align-content: center;
  color: grey;
  border-right: solid 1px #fff1;
  padding-right: 15px;
  text-wrap: nowrap;
}

.父容器 {
  display: flex;
  align-items: center;
}

.对话框布局层 .值 {
  color: lightseagreen;
}

.对话框布局层 .前缀 {
  margin-right: 3px;
}

.对话框布局层 .单位 {
  margin-left: 2px;
  color: darkkhaki;
}
