*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: silver;
  font-family: "Google Sans Code", Consolas, "Noto Sans CJK SC", 微软雅黑, sans-serif;
}

.总区 {
  padding-top: 110px;
}

.Canvas容器 {
  position: relative;
  width: 100%;
  height: clamp(700px, calc(100vh - 110px), 3000px);
  display: flex;
  justify-content: center;
  align-items: center;
  --水平内边距: min(5vw, 25px);
  --垂直内边距: 5vh;
}

#canvas {
  width: calc(100% - var(--水平内边距));
  height: clamp(1020px, calc(100% - var(--垂直内边距)), 2000px);
  outline: solid 1px #666;
  background-color: #1a1a1a;
  cursor: grab;
}
